<div>

	<span class="btn btn-primary"
			ngf-select 
			ng-model="model"
			ngf-keep="true"
			multiple 
			ngf-multiple="true" 
			ngf-keep-distinct="true">
		<i class="fa fa-plus"></i>
		Add
	</span>

	<!--list of selected files-->

    <div class="btn-group" ng-repeat="file in model">
        <button class="btn btn-default btn-progress">
            <i ng-class="utils.getIconClassForFile(file.name)"></i>
            {{ file.name }}
        </button>

        <button type="button" class="btn btn-default" 
        	ng-click="removeSelected($index)" title="Remove">
        	<i class="fa fa-times-circle no-margin fa-lg"></i>
        </button>

    </div> 


</div>