<div class="btn-group isa-file">

	<span ng-if="!url" ng-class="{'queue-deleted' : file.markedForDeletion }">
		<i ng-class="iconClass"></i>
		{{file.name}}
	</span>

	<button
		type="button"
		class="btn btn-default"
		ng-if="url && !file.isImage" href="{{url}}" target="_blank" ng-class="{'queue-deleted' : file.markedForDeletion }">
		<i ng-class="iconClass"></i>
		{{file.name}}
	</button>

	<!--lightbox for images-->
	<button
		type="button"
		class="btn btn-default"
		ng-if="url && file.isImage" ng-click="showLightbox()" target="_blank" ng-class="{'queue-deleted' : file.markedForDeletion }">
		<i ng-class="iconClass"></i>
		{{file.name}}
	</button>

	<!--delete-->
	<button 
		type="button"
		ng-if="allowRemove" class="btn btn-default" 
		ng-click="deleteFile()" >
		<i class="fa fa-times-circle no-margin fa-lg"></i>
	</button>
	
</div>
