<div ng-class="{'isometrica-overview-tabs': view.showBlueBar }">
  <style>
    .guidance-panel.guidance-panel-top .guidance-edit .btn {
      color: #333 !important;
    }
    .guidance-edit .btn {
      margin-right: 0px !important;
    }
  </style>
<div collapse="view.hideGuidance">
  <div class="guidance-panel" ng-class="{'guidance-panel-top guidance-panel-overview': isPageGuidance()}">
    <div ng-class="{container: isPageGuidance()}">

      <!--read inline guidance-->
      <div collapse="!view.hideEdit">
        <p ng-show="guidanceModel.guidance && guidanceModel.guidance.subject.length>0">{{guidanceModel.guidance.subject}}</p>
        <p ng-show="!guidanceModel.guidance || guidanceModel.guidance.subject.length==0">No guidance created</p>
        <div collapse="view.hideMore">
          <p ng-bind-html="guidanceModel.guidance.contents"></p>
          <ul class="text-muted">
            <li ng-show="guidanceModel.guidance.isoClauses[0].documentRef"><small>
              {{guidanceModel.guidance.isoClauses[0].documentRef + ' ' + guidanceModel.guidance.isoClauses[0].clauseNumbers}}
            </small></li>
            <li ng-show="guidanceModel.guidance.isoClauses[1].documentRef"><small>
                  {{guidanceModel.guidance.isoClauses[1].documentRef + ' ' + guidanceModel.guidance.isoClauses[1].clauseNumbers}}
            </small></li>
            <li ng-show="guidanceModel.guidance.isoClauses[2].documentRef"><small>
                  {{guidanceModel.guidance.isoClauses[2].documentRef + ' ' + guidanceModel.guidance.isoClauses[2].clauseNumbers}}
            </small></li>
            <li ng-show="guidanceModel.guidance.isoClauses[3].documentRef"><small>
                  {{guidanceModel.guidance.isoClauses[3].documentRef + ' ' + guidanceModel.guidance.isoClauses[3].clauseNumbers}}
            </small></li>
          </ul>
        </div>
      </div>

      <!--actions-->
      <div class="btn-group">
        <a ng-if="view.hideMore"
           class="btn btn-link show-more collapsed"
           ng-click="view.hideMore = false">
          <i class="fa fa-chevron-down"></i> More
        </a>
        <a ng-if="!view.hideMore && guidance.helpUrl.length > 0"
           class="btn btn-link"
           href="{{guidance.helpUrl}}">Full Help</a>
        <a class="btn btn-link hide-panel" ng-click="hideGuidance()"><i class="fa fa-chevron-up"></i> Hide</a>
        <a class="btn btn-link" ng-if="view.hideQuestion" ng-click="view.hideQuestion = false">Ask question</a>
        <a class="btn btn-link" ng-if="view.hideEdit && view.allowEdit" ng-click="editGuidance()">Edit guidance</a>
      </div>

      <div class="guidance-panel-question" collapse="view.hideQuestion">
        <isa-ask-question></isa-ask-question>
      </div>

      <div class="guidance-panel-question" collapse="view.hideEdit">

        <!--edit guidance-->
        <div collapse="view.hideEdit" ng-if="view.allowEdit">
          <div class="row">
            <div class="form-group col-sm-12">
              <input class="form-control" ng-model="guidanceModel.guidance.subject" placeholder="Primary guidance text">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <textarea class="form-control" ng-model="guidanceModel.guidance.contents" placeholder="Secondary guidance text"></textarea>
            </div>
          </div>

          <!--document references/ ISO clauses-->
          <div class="row" ng-repeat="i in getNumIsoClauses() track by $index">
            <div class="form-group col-xs-8 col-sm-7">
              <input class="form-control" ng-model="guidanceModel.guidance.isoClauses[$index].documentRef" 
                placeholder="Document reference {{$index+1}}" 
                typeahead="title for title in referenceTypeaheadOptions | filter:$viewValue | limitTo:10" />
            </div>

            <div class="form-group col-xs-4 col-sm-5">
              <input class="form-control" ng-model="guidanceModel.guidance.isoClauses[$index].clauseNumbers" placeholder="Clause number(s)" />
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
