<div class="navbar navbar-inverse navbar-fixed-top isometrica-navbar-centered" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left" style="z-index:11">
      <li>
        <a class="btn btn-link icon-only" ui-sref="overview" title="Return to overview">
          <i class="fa fa-lg fa-chevron-left"></i>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><isa-guidance-button type="bar"></isa-guidance-button></li>
    </ul>

    <div class="navbar-header">
      <span class="navbar-brand dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        Work Inbox - <span ng-bind="(vm.filterStates|filter:vm.filter)[0].name"></span>
        <i class="fa fa-chevron-down"></i>
      </span>
      <ul class="dropdown-menu">
        <li ng-repeat="filter in vm.filterStates"
            ng-class="{active: vm.filter==filter.filter}">
          <a ng-click="vm.switchFilter(filter)">{{filter.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
