<div class="panel panel-default bootcards-panel-collapsing" ng-class="{ 'full-width': !small }">
  <div class="panel-heading clearfix collapsed" href="#{{ sectionId }}" data-toggle="collapse">
    <i class="fa fa-chevron-circle-down bootcards-panel-collapsing-indicator"></i>
    <span ng-if="titleTemplate">
      <ng-include src="titleTemplate"></ng-include>
    </span>
    <span ng-if="!titleTemplate && title">
      <h4 class="panel-title pull-left">{{ title }}</h4>
    </span>
    <i ng-if="!small" class="fa fa-chevron-right disclosure-indicator pull-right"></i>
  </div>
  <div class="collapse" id="{{ sectionId }}">
    <div class="panel-body">
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>
