<isa-address-book-modal-header
	can-save="form.$valid"
	on-save="save(form)"
	on-cancel="cancel()"
	title="{{ isNew ? 'New' : 'Edit' }} Risk">
</isa-address-book-modal-header>

<div class="modal-body">

	<div class="form-group has-error text-center">
    <small class="help-block" ng-show="err">{{ err.message }}</small>
	</div>

	<form
		novalidate
		name="form"
		schema="Risk"
		class="form-horizontal"
		schema-doc="object">

		<isa-access isa-loading="loading" isa-superpowers="[ 'canCreateEditDashboard' ]">

			<schema-form model="object" fields="name,type,activityProcess,department,owner,relatedRisks"></schema-form>

      <isa-subcard-files></isa-subcard-files>

      <isa-subcard-notes></isa-subcard-notes>

      <isa-card-section title="Risk Scoring - Before">
        <schema-form model="object" fields="riskScoreBefore"></schema-form>
      </isa-card-section>

      <isa-subcard-fields title="Evaluation"
                          indicator="object.riskDescision"
                          fields="evaluationComments,previousLossExperience,riskDescision,riskPriority">
      </isa-subcard-fields>

      <isa-subcard-fields title="Treatment and control"
                          indicator="object.completedAndVerified ? 'Verified' : ''"
                          fields="treatmentControlComments,targetDate,completedAndVerified,signedBy">
      </isa-subcard-fields>

      <isa-card-section title="Risk Scoring - After">
        <schema-form model="object" fields="riskScoreAfter"></schema-form>
      </isa-card-section>

      <isa-subcard-cards title="Nested Cards">
        <isa-subcard-indicator-text indicator="{{[1,2,3].length}}"></isa-subcard-indicator-text>
        <isa-subcard-body>
          <isa-subcard-notes ng-repeat="l in [1,2,3]"></isa-subcard-notes>
        </isa-subcard-body>
      </isa-subcard-cards>

      <isa-card-section title="Improvement opportunities">
        <div>
          <!--<isa-card-section
            ng-repeat="io in object.improvementOps"
            small="true"
            section-id="io-{{ $index }}"
            title-template="client/dashboard/register/risks/view/improvementOpTitle.ng.html">
            <isa-edit-improvement-op io="io"></isa-edit-improvement-op>
          </isa-card-section>-->
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-link btn-block" ng-click="addImpOp()">Add improvement opportunity</button>
        </div>
      </isa-card-section>

      <isa-subcard-review></isa-subcard-review>

    </isa-access>

  </form>

</div>

<div class="modal-body">
  <div ng-if="!isNew" class="text-center">
    <button type="button" class="btn btn-default" ng-click="delete()">Delete</button>
  </div>
</div>
