
<div isa-guidance="guidance/risks">

  <isa-select-header
    on-select-opt="selectFilter(title)"
    header-title="'Risk register - ' + filter"
    filter-opts='["All", "By risk owner", "By risk type", "By activity", "By department", "By management system", "Archived", "Deleted"]'>
  </isa-select-header>
  <isa-guidance-view type="bar"></isa-guidance-view>

  <div class="container bootcards-container isometrica-container-listdetail" id="main">
  	<div class="row">
      <div class="col-sm-4 bootcards-list" id="list">
  			<div class="panel panel-default">
    			<div class="panel-heading clearfix bg-warning">
      			<h4 class="panel-title pull-left text-warning">
        			Reviewed Jun 2015
        		</h4>
      			<button type="button" class="btn btn-default pull-right">
      			  <i class="fa fa-gear fa-lg no-margin"></i>
      			</button>
    			</div>
  				<div class="panel-body">
  					<div class="search-form">
    					<div class="row">
  					    <div class="col-xs-8">
    				      <div class="form-group">
    					      <input type="text" class="form-control" placeholder="Search...">
    					      <i class="fa fa-search"></i>
    				      </div>
  					    </div>
  					    <div class="col-xs-4">
  								<button class="btn btn-primary btn-block" data-toggle="modal" data-target="#edit-modal">
  									<i class="fa fa-plus"></i>
  									<span>Add</span>
  								</button>
  					    </div>
  						</div>

  					</div>
  				</div>
  				<div class="list-group">
    				<a class="list-group-item active">
  						<span class="label label-danger risk-square">91</span>
              <div class="list-group-item-content">
  							<h4 class="list-group-item-heading">Spillage of solvent</h4>
                <p class="list-group-item-text">Industrial accidents</p>
              </div>
  					</a>
  				  <a class="list-group-item">
              <span class="label label-warning risk-square">67</span>
              <div class="list-group-item-content">
  							<h4 class="list-group-item-heading">Explosion of binder</h4>
                <p class="list-group-item-text">Industrial accidents</p>
              </div>
  					</a>
  					<a class="list-group-item">
  						<span class="label label-warning risk-square">54</span>
              <div class="list-group-item-content">
  							<h4 class="list-group-item-heading">Flu pandemic</h4>
                <p class="list-group-item-text">Human health</p>
              </div>
  					</a>
  					<a class="list-group-item">
  						<span class="label label-success risk-square">43</span>
              <div class="list-group-item-content">
  							<h4 class="list-group-item-heading">Warehouse flood</h4>
                <p class="list-group-item-text">Severe weather</p>
              </div>
  					</a>
  					<a class="list-group-item">
  						<span class="label label-success risk-square">41</span>
              <div class="list-group-item-content">
  							<h4 class="list-group-item-heading">Office fire</h4>
                <p class="list-group-item-text">Industrial accidents</p>
              </div>
  					</a>
  				</div>
  			</div>
  		</div>

  		<div class="col-sm-8 bootcards-cards hidden-xs">
  			<div class="panel panel-default">
  				<div class="panel-heading clearfix">
  					<div class="btn-group pull-right">
  						<a class="btn btn-primary" data-toggle="modal" data-target="#edit-modal">
  							<i class="fa fa-pencil"></i>
  							Edit
  						</a>
  					</div>
  					<h3 class="panel-title">
              Risk statement
              <span class="label label-warning margin-left">Awaiting review</span>
            </h3>
  				</div>
          <div class="list-group">
            <div class="list-group-item">
              <p class="list-group-item-text">Risk name</p>
              <h4 class="list-group-item-heading">Spillage of solvent</h4>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Ref</p>
                  <h4 class="list-group-item-heading">RK18</h4>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Risk type</p>
                  <h4 class="list-group-item-heading">Industrial accidents</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Activity/process</p>
                  <h4 class="list-group-item-heading">Thermoforming</h4>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Department</p>
                  <h4 class="list-group-item-heading">Manufacturing</h4>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Risk owner</p>
              <h4 class="list-group-item-heading">John Smith</h4>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Links to other risks</p>
              <a href="#" class="btn btn-default"><strong>RK15</strong> Flu pandemic <i class="fa fa-circle margin-left text-success"></i></a>
              <a href="#" class="btn btn-default"><strong>RK16</strong> Explosion of binder <i class="fa fa-circle margin-left text-warning"></i></a>
            </div>
          </div>
          <div class="panel-heading panel-subheading">
            <h4 class="panel-title">Files</h4>
          </div>
          <div class="list-group">
            <div class="list-group-item">
              <a href="" class="btn btn-default"><i class="fa fa-file-word-o fa-lg"></i> Alvca_letter_June_15.docx</a>
              <a href="" class="btn btn-default"><i class="fa fa-file-excel-o fa-lg"></i> sales.xls</a>
              <a href="" class="btn btn-default"><i class="fa fa-file-powerpoint-o fa-lg"></i> presentation.ppt</a>
              <a href="" class="btn btn-default"><i class="fa fa-file-pdf-o fa-lg"></i> brochure.pdf</a>
            </div>
          </div>
          <div class="panel-heading panel-subheading">
            <h4 class="panel-title">Notes</h4>
          </div>
          <div class="list-group">
            <div class="list-group-item">
              <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
            </div>
          </div>
          <div class="panel-heading panel-subheading">
            <h4 class="panel-title">Risk Scoring</h4>
          </div>
          <div class="list-group">
            <div class="list-group-item">
              <h4 class="list-group-item-heading"><span class="label label-danger">Catastrophic (91)</span></h4>
            </div>
          </div>
          <div class="panel-heading panel-subheading">
            <h4 class="panel-title">Evaluation</h4>
          </div>
          <div class="list-group">
            <div class="list-group-item">
              <p class="list-group-item-text">Comments</p>
              <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Previous loss experience</p>
              <h4 class="list-group-item-heading">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h4>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Risk decision</p>
              <h4 class="list-group-item-heading">Avoid</h4>
            </div>
          </div>
          <div class="panel-heading panel-subheading">
            <h4 class="panel-title">Treatment &amp; control</h4>
          </div>
          <div class="list-group">
            <div class="list-group-item">
              <p class="list-group-item-text">Comments</p>
              <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Target date</p>
              <h4 class="list-group-item-heading">1 Sep 2015</h4>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Completed and verified?</p>
                  <h4 class="list-group-item-heading">Yes</h4>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Signed by</p>
                  <h4 class="list-group-item-heading">Steve Saunders</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-heading panel-subheading">
            <h4 class="panel-title">Improvement opportunities</h4>
          </div>
          <div class="list-group">
              <div class="list-group-item">
                <a href="#" class="btn btn-default"><strong>IO731</strong> Buy new machines <i class="fa fa-circle margin-left text-success"></i></a>
                <a href="#" class="btn btn-default"><strong>IO732</strong> Change build process <i class="fa fa-circle margin-left text-warning"></i></a>
              </div>
          </div>
          <div class="panel-heading panel-subheading">
            <h4 class="panel-title">Review</h4>
          </div>
          <div class="list-group">
            <div class="list-group-item">
              <p class="list-group-item-text">Review status</p>
              <h4 class="list-group-item-heading"><span class="label label-warning">Awaiting review</span></h4>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Last reviewed</p>
                  <h4 class="list-group-item-heading">8 Sep 2014</h4>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Reviewed by</p>
                  <h4 class="list-group-item-heading">Peter Jones</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="isometrica-changelog collapsed">
              <div class="row isometrica-changelog-toggle collapsed" data-toggle="collapse" data-target="#changelog-1">
                <div class="col-xs-4">
                  <div><small>Created by: Nigel Cheshire</small></div>
                  <div><small>Date: 20 May 2015</small></div>
                </div>
                <div class="col-xs-4">
                  <div><small>Last edited by: Nigel Cheshire</small></div>
                  <div><small>Date: 21 May 2015</small></div>
                </div>
                <i class="fa fa-chevron-up fa-lg disclosure-indicator"></i>
              </div>
              <div class="collapse" id="changelog-1">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Change summary</th>
                        <th class="text-right">Date &amp; time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mike Smith</td>
                        <td>New agenda item added - Review non-conformities</td>
                        <td class="text-right">15 Jun 2015  15:15</td>
                      </tr>
                      <tr>
                        <td>Mike Smith</td>
                        <td>Removed meeting action - Test server-side performance</td>
                        <td class="text-right">14 Jun 2015  15:15</td>
                      </tr>
                      <tr>
                        <td>Mark Dixon</td>
                        <td>New meeting action added - Investigate Japan pricing</td>
                        <td class="text-right">12 Jun 2015  15:15</td>
                      </tr>
                      <tr>
                        <td>Steve Ives</td>
                        <td>New meeting action added - Renew EMEA prices</td>
                        <td class="text-right">10 Jun 2015  15:15</td>
                      </tr>
                      <tr>
                        <td>Nigel Cheshire</td>
                        <td>New agenda item added - Status of corrective and preventative measures</td>
                        <td class="text-right">7 Jun 2015  15:15</td>
                      </tr>
                      <tr>
                        <td>Mike Smith</td>
                        <td>New agenda item added - Review non-conformities</td>
                        <td class="text-right">6 Jun 2015  15:15</td>
                      </tr>
                      <tr>
                        <td>Mike Smith</td>
                        <td>Removed meeting action - Test server-side performance</td>
                        <td class="text-right">4 Jun 2015  15:15</td>
                      </tr>
                      <tr>
                        <td>Mark Dixon</td>
                        <td>New meeting action added - Investigate Japan pricing</td>
                        <td class="text-right">2 Jun 2015  15:15</td>
                      </tr>
                      <tr>
                        <td>Steve Ives</td>
                        <td>New meeting action added - Renew EMEA prices</td>
                        <td class="text-right">2 Jun 2015  15:15</td>
                      </tr>
                      <tr>
                        <td>Nigel Cheshire</td>
                        <td>New agenda item added - Status of corrective and preventative measures</td>
                        <td class="text-right">1 Jun 2015  15:15</td>
                      </tr>
                      <tr>
                        <td colspan="3"><a href="">View all changes (34 total)</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  			</div>
  		</div>
  	</div>
  </div>

</div>
