
<isa-header multi-line="false"></isa-header>

<div class="container bootcards-container">
  <div class="row">
    <div class="bootcards-cards col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center clearfix">
          <h2 class="panel-title">
            Login
          </h2>
        </div>
        <form
            novalidate
            ng-submit="login()"
            name="loginForm"
            schema="Credentials"
            schema-doc="creds">
          <div class="panel-body">
            <div class="form-horizontal">
              <div ng-if="acceptance" class="form-group text-center">
                <p>
                  You already have an Isometrica account. Login to accept this invitation.
                </p>
              </div>
              <isa-access isa-loading="loading">
                <schema-form model="creds" fields="email,password"></schema-form>
                <div class="form-group has-error col-sm-9 col-sm-offset-3">
                  <small class="help-block" ng-show="err">{{ err.message }}</small>
                </div>
              </isa-access>
            </div>
          </div>
          <div class="panel-footer text-center">
            <button type="submit" class="btn btn-primary" ng-disabled="!loginForm.$valid">
              Login <span ng-if="acceptance"> and Accept</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
