<div>
  <div class="form-group" ng-class="{'has-error': invalid}">
    <i ng-if="helpId" class="fa fa-question-circle resilify-canvas-modal-help-icon"></i>
    <label ng-hide="hideLabel" class="control-label {{labelClass}}">{{label}}</label>

    <div class="{{inputClass}}">
      <!--date field with picker-->
      <p class="input-group">
	     <input type="text" class="form-control" datepicker-popup="dd MMMM yyyy" 
	     name="{{name}}"
	      schema-field="{{field}}"
	      ng-model="model" is-open="opened" show-button-bar="false" ng-required="required"
	      close-text="Close" ng-click="openDatePicker($event)" />
	      <span class="input-group-btn">
	        <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	      </span>
	     </p>

      <small class="help-block" ng-show="invalid">{{schemaError}}</small>

    </div>
  </div>
</div>
