<div>
  <div class="form-group" ng-class="{'has-error': invalid}">
    <i ng-if="helpId" class="fa fa-question-circle resilify-canvas-modal-help-icon"></i>
    <label class="control-label {{labelClass}}">{{label}}</label>

    <div class="{{inputClass}}">
      <input ng-model="model" name="{{name}}" schema-field="{{field}}" type="{{inputType}}"
             class="form-control" ng-required="required" placeholder="{{placeholder}}"/>
      <small class="help-block" ng-show="invalid">{{schemaError}}</small>
    </div>
  </div>
</div>
