<ng-form class="form-horizontal" name="actionForm" schema="MeetingActions" schema-doc="action">
  <schema-form ng-if="!action.inTrash" model="action"
               fields="description,agendaItem,owner,targetDate,notes"
               configure="configureForm(fields)"></schema-form>
</ng-form>
<ng-form class="form-horizontal" name="statusValue" schema="IsaStatus" schema-doc="action.status">
  <schema-form ng-if="!action.inTrash" model="action.status"
               fields="value"></schema-form>
</ng-form>
