<div class="navbar navbar-inverse navbar-fixed-top bootcards-navbar-double" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav navbar-left">
			<li>
				<a href="#" class="btn btn-link btn-menu icon-only">
					<i class="fa fa-lg fa-bars"></i>
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#" class="btn btn-link btn-menu icon-only">
					<i class="fa fa-lg fa-refresh"></i>
				</a>
			</li>
		</ul>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<div class="navbar-brand">
				<a ui-sref="welcome">Isometrica: </a>
				<ul class="list-unstyled">
					<li class="dropdown" dropdown on-toggle="toggled(open)">
					<a href class="dropdown-toggle" dropdown-toggle>
						{{ $root.currentOrg.name }}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="membership in memberships">
						  <a ui-sref="overview({
								orgId: membership._orgId
							})">
								{{ membership.org().name }}
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="#">
								Add an organization
							</a>
						</li>
					</ul>
					</li>
				</ul>
			</div>

		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right bootcards-nav-secondary">

				<!--name of logged in user-->
				<li ng-show="$root.currentUser">
					<a>
						<i class="fa fa-fw fa-user"></i>
						{{$root.currentUser.profile.fullName}}
					</a>
				</li>

				<li ng-show="$root.currentUser">
					<a ui-sref="accounts">
						Accounts
					</a>
				</li>

				<li>
					<a href="#">
						Help
					</a>
				</li>
				<li ng-if="!$root.currentUser">
					<a ui-sref="login">
						<i class="fa fa-fw fa-lock"></i> Login
					</a>
				</li>
				<li ng-if="$root.currentUser">
					<a ng-click="logout()">
                       <i class="fa fa-unlock"></i> Logout
                    </a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right bootcards-nav-primary">
				<li>
					<a ui-sref="overview">
						<i class="fa fa-fw fa-th"></i> Overview
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-cog"></i> Settings
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-fw fa-refresh"></i> Sync
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
