
/*dropdown color*/
a.navbar-brand, .navbar-brand .dropdown > a, .navbar-brand .dropdown > a:hover {
	color: #fff !important;
	text-decoration: none;
}

.navbar-header .navbar-brand > a {
	text-decoration:none;
}

/*colon next to the logo*/
.navbar-brand > span {
	color: #fff;
}

.navbar-brand {
	ul.list-unstyled, ul.list-unstyled > li {
		display: inline; 
	}

	/*styling the chevron on the org selection*/
   i.fa {
	    position: relative;
	    top: -2px;
	    left: 2px;
	    transition: all 0.3s ease;
  	    font-size: 18px;
    }
    [aria-expanded="true"] i.fa {
    	color: #AAA;
	}

}