/* temporary css to make the login link look a little better */

#login-buttons {

  padding-left: 10px;
  padding-top:18px;
  padding-bottom:15px;

  a {
    color: #BBB;
  }
  a:hover {
    color: #FFF;
  }

}