<dlg-header title="{{dlg.title}}" text-id="{{dlg.textId}}" cancel="dlg.cancel()" done="dlg.done()"></dlg-header>
<ng-form class="form-horizontal isometrica-org-setup-multiadd">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th class="short">Short name</th>
        <th>Description</th>
        <th class="short">Type</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in dlg.itemList track by $index">
        <td><input class="form-control" type="text" placeholder="Name" ng-model="item.name"></td>
        <td><input class="form-control" type="text" maxlength="8" placeholder="Short name" ng-model="item.shortName"></td>
        <td><input class="form-control" type="text" placeholder="Description" ng-model="item.description"></td>
        <td>
          <select class="form-control" ng-model="item.type">
            <option></option>
            <option ng-repeat="option in dlg.typeOptions" value="{{option}}">{{option}}</option>
          </select>
        </td>
        <td class="icon">
          <button type="button" class="btn btn-default" ng-click="dlg.removeItem($index)"><i class="fa fa-times-circle fa-lg no-margin text-muted"></i></button>
        </td>
      </tr>

      <tr>
        <td><input class="form-control" type="text" placeholder="Name" ng-model="dlg.newItem.name"></td>
        <td><input class="form-control" type="text" maxlength="8" placeholder="Short name" ng-model="dlg.newItem.shortName"></td>
        <td><input class="form-control" type="text" placeholder="Description" ng-model="dlg.newItem.description"></td>
        <td>
          <select class="form-control" ng-model="dlg.newItem.type">
            <option selected=""></option>
            <option ng-repeat="option in dlg.typeOptions" value="{{option}}">{{option}}</option>
          </select>
        </td>
        <td class="icon">
          <button type="button" class="btn btn-default" ng-click="dlg.addItem()"><i class="fa fa-plus-circle fa-lg no-margin text-muted"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-form>

