<dlg-header title="{{dlg.title}}" text-id="{{dlg.textId}}" cancel="dlg.cancel()" done="dlg.done()"></dlg-header>
<ng-form class="form-horizontal isometrica-org-setup-multiadd">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
      <tr ng-repeat="item in dlg.itemList track by $index">
        <td><input class="form-control" type="text" placeholder="Name" ng-model="dlg.itemList[$index]"></td>
        <td class="icon">
          <button type="button" class="btn btn-default" ng-click="dlg.itemList.splice($index, 1)">
            <i class="fa fa-times-circle fa-lg no-margin text-muted"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td><input class="form-control" type="text" placeholder="Name" ng-model="dlg.newValue"></td>
        <td class="icon">
          <button type="button" class="btn btn-default"
                  ng-click="dlg.itemList.push(dlg.newValue);dlg.newValue=''">
            <i class="fa fa-plus-circle fa-lg no-margin text-muted"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-form>
