<div>
    <isa-header></isa-header>
    <div class="container" style="margin-top:40px">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="alert alert-danger" ng-if="hasError">{{errorMsg}}</div>
                <form name="loginForm" ng-submit="login()">
                    <isa-form-field
                        field-type='credential'
                        validation-model='{
                        	"required": "An email address is required.",
                        	"email": "Must be a valid email address"
                        }'
                        input-type="email"
                        input-name="email"
                        title="E-mail address *"
                        ng-model="email">
                    </isa-form-field>
                    <isa-form-field
                        field-type='credential'
                        validation-model='{
                            "required": "A password is required."
                        }'
                        input-type="password"
                        input-name="password"
                        title="Password *"
                        ng-model="password">
                    </isa-form-field>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="rememberMe"> Remember me
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" ng-disabled="!loginForm.$valid">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
