<div ng-cloak>

	<form name="pageForm" novalidate
		schema="DocwikiPages"
		schema-doc="page">

		<div class="modal-header">

			<div class="pull-left">
				<button class="btn btn-default" ng-click="cancelEdit()">
					Cancel
				</button>
			</div>
			<div class="pull-right">
      			<button ng-click="view.hideGuidance = false" 
      				ng-if="view.hideGuidance" 
      				type="button" class="btn btn-link guidance-toggle" style="display: inline-block !important">
      				<i class="fa fa-lg fa-question-circle"></i>
      			</button>
				<button class="btn btn-primary" ng-click="save(pageForm)" ng-disabled="pageForm.$invalid">
					{{ page.isDraft && automaticApprovals ? 'Approve' : 'Save' }}
				</button>
			</div>

			<h4 class="modal-title">{{ ( isNew ? 'New page' : 'Edit page' )}}</h4>

		</div>

		<ng-include src="'client/docWiki/page/guidance.ng.html'"></ng-include>

		<div class="modal-body border-bottom form-horizontal" style="padding-bottom:0;">
		  
		  <div class="form-group">
		  	<label class="col-xs-3 col-sm-4 control-label">Section number/ -title *</label>
			<div class="col-xs-2 col-sm-2" ng-class="{'has-error': pageForm.section.$dirty && pageForm.section.$invalid}">
				<input class="form-control" name="section" type="text" ng-model="page.section" required="true" />
			</div>
			<div class="col-xs-7 col-sm-6" ng-class="{'has-error': pageForm.title.$dirty && pageForm.title.$invalid}">
				<input class="form-control" name="title" type="text" ng-model="page.title" required="true" />
			</div>

		  </div>
			
		  <schema-form model="page" fields="tags"></schema-form>

		</div>

		<div class="modal-body" style="padding-top:0">

		  <schema-form model="page" fields="contents"></schema-form>

		</div>

		<div class="modal-body isometrica-wiki-panel-files">

			<label class="control-label">Files</label>

			<div class="">

				<!--uploaded files-->
				<div class="btn-group" ng-repeat="file in page.files">
					<isa-file-link file="file" allow-remove="true"></isa-file-link>
				</div>

				<isa-file-upload model="selectedFiles"></isa-file-upload>

			</div>

		</div>

	</form>

	<ng-include src="'client/docWiki/page/pageInfo.ng.html'" ng-if="!isNew"></ng-include>

	<div class="modal-body text-center" ng-if="!isNew && isOwner">
		<button ng-if="!page.inTrash" ng-click="delete(page)" 
			type="button" class="btn btn-default">Delete
		</button>
	</div>

</div>
