<div ng-cloak>

    <div class="panel panel-default bootcards-wiki-panel">

        <div class="panel-heading clearfix">

            <div class="pull-left">

                <div class="btn-group" dropdown is-open="status.isopen">
                    <a title="More actions" type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        <i class="fa fa-ellipsis-v fa-lg no-margin"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a isa-docwiki-page-versions>
                                Rollback
                            </a>
                        </li>
                        <li>
                            <a isa-docwiki-reissue module-id="{{moduleId}}">Reissue</a>
                        </li>
                        <li>
                            <a ng-click="signDocument()">
                                Sign
                            </a>
                        </li>
                        <li ng-if="page.version>1">
                            <a ui-sref="docwiki.list.page.changes({pageId: page._id})" ui-sref-opts="{reload:true}">
                                View changes
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="pull-right">

                <button class="btn btn-primary" ng-click="editPage(page._id)">
                    Edit
                </button>

            </div>

            <h3 class="panel-title text-center">{{page | pageTitleFilter}}</h3>

        </div>

        <div class="panel-body bootcards-wiki-panel-text-read">

            <span style="font-style:italic;" ng-if="page._id && (!page.contents || page.contents.length == 0)">(this page doesn't have any contents)</span>

            <div ng-if="!showChanges" ng-bind-html="page.contents"></div>

            <div ng-if="showChanges">
  
                 <div class="alert alert-info" style="margin-bottom:10px;" ng-if="noChanges">No changes detected between the current version of this page ({{page.version}}) and the previous one ({{previousVersion}}).</div>

                <div ng-bind-html="diff"></div>
            
            </div>


        </div>

        <div class="bootcards-wiki-panel-bottom">

            <div class="panel-body form-horizontal bootcards-wiki-panel-metadata border-top"
                ng-if="(page.tags.length > 0 && page.tags[0].length>0) || page.files.length>0">

                <div class="form-group" ng-if="page.tags.length > 0 && page.tags[0].length>0">

                    <label class="col-sm-2 control-label">Tags</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            <span class="label label-primary" style="margin-right:5px" ng-repeat="tag in page.tags">
                                {{tag}}
                            </span>
                        </p>
                    </div>
 
                </div>

                <!--files-->
                <div class="form-group" ng-if="page.files.length>0">

                    <label class="col-sm-2 control-label">Files</label>
                    <div class="col-sm-10 form-control-static">
                      
                        <isa-file-link 
                            ng-repeat="file in page.files"
                            file="file" allow-remove="false"></isa-file-link>
                          
                    </div>

                </div>

            </div>

            <ng-include src="'client/docWiki/page/pageInfo.ng.html'"></ng-include>

            <div class="panel-footer text-center">
              <button class="btn btn-default" ng-click="delete(page)">
                Delete
              </button>
            </div>
        </div>

    </div>

    <isa-page-comments parent-id="{{page.pageId}}"></isa-page-comments>

</div>

