<div class="bootcards-wiki isometrica-wiki panel panel-default bootcards-wiki-panel" ng-cloak>

	<form name="pageForm" novalidate class="form-horizontal"
		schema="DocwikiPages"
		schema-doc="page">

		<div class="panel-heading">

			<div class="pull-left">
				<button class="btn btn-default" ng-click="cancelEdit()">
					<i class="fa fa-times"></i>Cancel
				</button>
			</div>

			<div class="pull-right">
				<button class="btn btn-primary" ng-click="save(pageForm)" ng-disabled="pageForm.$invalid">
					<i class="fa fa-check"></i>Save
				</button>
			</div>

			<h3 class="panel-title text-center">{{ ( isNew ? 'New page' : 'Edit page' )}}</h3>

		</div>


		<div class="panel-body border-bottom">
		  <schema-form model="page" fields="section,title,tags"></schema-form>

			<div class="form-group">

				<label class="col-xs-3 col-sm-4 control-label">Files</label>

				<div class="col-xs-9 col-sm-8 form-control-static">

					<!--uploaded files-->
					<table class="table table-condensed files-list" ng-if="page.files.length>0"><tbody>
						<tr ng-repeat="file in page.files">
							<td>

								<isa-file-link file="file" allow-remove="true"></isa-file-link>

							</td>
						</tr>
					</tbody></table>

					<isa-file-upload model="selectedFiles"></isa-file-upload>

				</div>

			</div>

		</div>

		<div class="panel-body" style="padding-top:10px">

		  <schema-form model="page" fields="contents"></schema-form>

		</div>

	</form>

	<ng-include src="'client/docWiki/page/pageInfo.ng.html'" ng-if="!isNew"></ng-include>

	<div class="modal-footer text-center" ng-if="!isNew">
		<button ng-click="delete(page)" 
			type="button" class="btn btn-default">Delete
		</button>
	</div>

</div>
