<div class="bootcards-wiki isometrica-wiki panel panel-default bootcards-wiki-panel" ng-cloak>

	<form name="pageForm" novalidate class="form-horizontal"
		schema="DocwikiPages"
		schema-doc="page">

		<div class="panel-heading">

			<div class="pull-left">
				<button class="btn btn-default" ng-click="cancelEdit()">
					Cancel
				</button>
			</div>

			<div class="pull-right">
				<button class="btn btn-primary" ng-click="save(pageForm)" ng-disabled="pageForm.$invalid">
					{{ page.isDraft && automaticApprovals ? 'Approve' : 'Save' }}
				</button>

			</div>

			<h3 class="panel-title text-center">{{ ( isNew ? 'New page' : 'Edit page' )}}</h3>

		</div>

		<div class="row panel-body border-bottom" style="padding-bottom:0;">
		  
		  <div class="form-group">
		  	<label class="col-xs-3 col-sm-4 control-label">Section number/ -title *</label>
			<div class="col-xs-2 col-sm-2" ng-class="{'has-error': pageForm.section.$dirty && pageForm.section.$invalid}">
				<input class="form-control" name="section" type="text" ng-model="page.section" required="true" />
			</div>
			<div class="col-xs-5 col-sm-4" ng-class="{'has-error': pageForm.title.$dirty && pageForm.title.$invalid}">
				<input class="form-control" name="title" type="text" ng-model="page.title" required="true" />
			</div>
			<div class="col-xs-2 col-sm-2">
				<button type="button" class="btn btn-default" ng-click="collapseExtendedForm = !collapseExtendedForm">
					Add tags
					<i class="fa" ng-class="( collapseExtendedForm ? 'fa-chevron-down' : 'fa-chevron-up')" style="margin-right:0"></i>
				</button>
			</div>

		  </div>

		  <div collapse="collapseExtendedForm">
			
			<schema-form model="page" fields="tags"></schema-form>

		  </div>

		</div>

		<div class="panel-body" style="padding-top:0">

		  <schema-form model="page" fields="contents"></schema-form>

		</div>

		<div class="modal-body bootcards-wiki-panel-files">

			<label class="control-label">Files</label>

			<div class="">

				<!--uploaded files-->
				<div class="btn-group" ng-repeat="file in page.files">
					<isa-file-link file="file" allow-remove="true"></isa-file-link>
				</div>

				<isa-file-upload model="selectedFiles"></isa-file-upload>

			</div>

		</div>

	</form>

	<ng-include src="'client/docWiki/page/pageInfo.ng.html'" ng-if="!isNew"></ng-include>

	<div class="modal-body text-center" ng-if="!isNew && isOwner">
		<button ng-if="!page.inTrash" ng-click="delete(page)" 
			type="button" class="btn btn-default">Delete
		</button>
	</div>

</div>
