<span class="signatures">

	<div class="form-control-static">

		<div ng-if="!page.signatures || page.signatures.length==0">
			This page has not been signed yet
		</div>

		<div ng-if="page.signatures.length==1">
			Signed by: {{page.signatures[0].fullName}} at {{page.signatures[0].at | date : 'medium'}}
		</div>

		<div ng-if="page.signatures.length>1">Signed by:
			<ul>
				<li ng-repeat="signature in page.signatures">
					{{signature.fullName}} at {{signature.at | date : 'medium'}}
				</li>
			</ul>
		</div>

	</div>

</span>
