<ui-select
  theme="bootstrap"
  ng-if="!options.templateOptions.disabled"
  ng-model="model[options.key]">
  <ui-select-match placeholder="{{ to.placeholder }}">
    {{ format($select.selected) }}
  </ui-select-match>
  <ui-select-choices
    repeat="item in list | filter:$select.search track by item">
    <span ng-bind-html="format(item) | highlight: $select.search"></span>
  </ui-select-choices>
</ui-select>
<div
  ng-if="options.templateOptions.disabled && model[options.key]"
  class="btn-group">
  <button type="button" class="btn btn-default disabled">
    {{ model[options.key] }}
  </button>
</div>
<p
  class="form-control-static"
  ng-if="options.templateOptions.disabled && model[options.key] && model[options.key].length"
  style="font-style:italic;">
  (nothing selected)
</p>
