<input
  type="text"
  ng-model="model[options.key]"
  class="form-control"
  placeholder="{{ to.placeholder }}"
  typeahead="item.name for item in list | filter:$viewValue"
  typeahead-select-on-blur="true"/>
<button
  type="button"
  class="btn btn-link clear-field isa-overlay"
  ng-click="toggleList($event)"
  ng-show="!to.disabled">
  <i class="fa fa-chevron-circle-down"></i>
</button>
<span dropdown dropdown-append-to-body is-open="open">
  <ul class="dropdown-menu" style="z-index:2000;">
    <li ng-repeat="item in list track by item._id">
      <a ng-click="fc.$setViewValue(item.name);fc.$render()">{{ item.name }}</a>
    </li>
  </ul>
</span>
