<div class="calendar">
  <input type="text" class="form-control" datepicker-popup="d MMMM yyyy"
         ng-model="model[options.key]" is-open="opened" show-button-bar="false"
         close-text="Close" ng-click="openDatePicker($event)"/>
  <button type="button"
          class="btn btn-link clear-field isa-overlay"
          tabindex="-1"
          ng-click="openDatePicker($event)">
      <i class="fa fa-calendar"></i>
  </button>
</div>
<small ng-show="showError && fc.$error.date" class="help-block">Invalid date format</small>
