<div class="input-group">
  <input type="text" class="form-control"
         ng-model="model[options.key]"
         typeahead="item.value as (item.label || item.value) for item in options.templateOptions.fieldChoices | filter:$viewValue"
         typeahead-on-select="(options.templateOptions.onSelected || angular.noop)()">
  <span class="input-group-btn" dropdown dropdown-append-to-body>
    <button class="btn btn-default" type="button" dropdown-toggle><span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right" style="z-index: 2000;">
      <li ng-repeat="item in options.templateOptions.fieldChoices">
        <a ng-click="fc.$setViewValue(item.value || item.label);fc.$render()">{{item.label || item.value}}</a>
      </li>
    </ul>
  </span>
</div>
