<div ng-repeat="page in docsBySection | filter : {inTrash:false} | draftFilter:isOwner:isEditor | filter : query">

	<!--top level entry-->
	<a 
	class="list-group-item bootcards-list-subheading"
	ng-class="{'collapsed' : page.isCollapsed || page.children.length==0, 
		'no-collapse' : !page.hasChildren, 
		'has-content' : page.contents.length>0}"
	ng-click="toggleSectionCat(page);"
	ui-sref=".page( { pageId : page._id} )"
	ui-sref-active="active">

		<h4 class="list-group-item-heading"
			ng-class="{'text-danger': page.isDraft}">{{page | pageTitleFilter}}</h4>
		
	</a>
	
	<!--child entries-->
	<div class="children" ng-if="page.children.length>0" collapse="page.isCollapsed">

		<a 
			ng-repeat="child in page.children | draftFilter:isOwner:isEditor | filter : query"
			class="list-group-item"
			ng-class="{'has-content' : child.contents.length>0}"
			ui-sref=".page({ pageId : child._id})"
			ui-sref-active="active">

			<!--ng-class="{'subsection' : isSubsection(child)-->

			<div class="list-group-item-indent">
				<h4 class="list-group-item-heading"
				ng-class="{'text-danger': child.isDraft}">{{ child | pageTitleFilter}}</h4>	
			</div>

		</a>

	</div>

</div>

<div class="list-group-item" style="margin-left: 20px; border-top:0;" ng-if="pages.length==0">
	No pages created yet (<a ng-click="editPage()" style="display:inline; padding:0">create first</a>)
</div>
