<div ng-repeat="page in docsBySection | draftFilter:isOwner:isEditor | filter : query">
	<a 
	class="list-group-item bootcards-list-subheading"
	ng-class="{'collapsed' : page.isCollapsed || page.children.length==0, 'no-collapse' : page.children.length==0}"
	ng-click="toggleSectionCat(page);"
	ui-sref-active="active">

		<h4 class="list-group-item-heading"
			ng-class="{'text-danger': page.isDraft}">{{page.section + " " + page.title}}</h4>
		
	</a>
	
	<div class="children" ng-if="page.children.length>0" collapse="page.isCollapsed">

		<a 
			ng-repeat="child in page.children | draftFilter:isOwner:isEditor | filter : query"
			class="list-group-item"
			ui-sref=".page({ pageId : child._id})"
			ui-sref-active="active">

			<h5 class="list-group-item-heading"
				ng-class="{'subsection' : isSubsection(child), 'text-danger': child.isDraft}">{{child.section + " " + child.title}}</h5>

		</a>

	</div>

</div>

<div class="list-group-item" style="margin-left: 20px; border-top:0;" ng-if="pages.length==0">
	No pages created yet (<a ng-click="editPage()" style="display:inline; padding:0">create first</a>)
</div>
