 <!-- <a ng-repeat="page in pages | filter : { isDraft : false } | orderBy : 'modifiedAt' : true | filter : query"
  class="list-group-item"
  ui-sref="docwiki.list.page({ pageId : page._id})"
  ui-sref-active="active">
  <h4 class="list-group-item-heading">{{page.section + " " + page.title}}</h4>
  <p class="list-group-item-text">{{page.modified.at | timeAgoFilter}} by {{page.modified.name}}</p>
</a> -->

<div ng-if="issues.length == 0">No issues have been created yet</div>

    <table class="table table-hover" ng-if="issues.length>0">

      <thead>

      <tr>

        <th>No.</th>
        <th>Amendment</th>
        <th>Date</th>
        <th>Authorised by</th>

      </tr>
      </thead>

      <tbody>

        <tr ng-repeat="issue in issues" ng-click="issueDetails(issue._id)">

          <td><span class="label label-info">{{issue.issueNo}}</span></td>
          <td>{{issue.contents}}</td>
          <td>{{issue.issueDate | date}}</td>
          <td>{{issue.authorisedBy}}</td>

        </tr>

      </tbody>

    </table>