<div ng-repeat="subCat in tagsList">

	<a 
	class="list-group-item bootcards-list-subheading"
	ng-class="{'collapsed' : subCat.isCollapsed}"
	ng-click="toggleSubCategory(subCat);"
	ui-sref-active="active">

		<h4 class="list-group-item-heading">{{subCat.name}}</h4>
		
	</a>
	
	<div class="children" collapse="subCat.isCollapsed">

		<a ng-repeat="page in subCat.pages | filter : query" 
			class="list-group-item"
			ui-sref="docwiki.list.page({ pageId : page._id})"
			ui-sref-active="active">
			   <h4 class="list-group-item-heading">{{page.section + " " + page.title}}</h4>
		</a>

	</div>

</div>

<div ng-show="tagsList.length==0" style="padding:10px">
  No pages have been tagged yet
</div>