<div class="container bootcards-container">

  <isa-header multi-line="false"></isa-header>

  <div class="row" style="padding-top:20px;">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">

        <div class="panel-heading text-center clearfix">
          <div class="pull-left">
            <a role="button" class="btn btn-default" ui-sref="overview">
              Cancel
            </a>
          </div>
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="accountForm.$invalid">
              Save
            </button>
          </div>
          <h2 class="panel-title">
            {{ isNew ? "Create a Subscription" : account.organisationName }}
          </h2>
        </div>

        <ul class="list-group">
          <li class="list-group-item" ng-if="!isNew">
            You have {{ owningModules.length }} active documents and you're using ## MB of storage.
          </li>
          <li class="list-group-item" ng-if="!isNew">
            <h5 class="list-group-item-heading">
              Billing and Invoices
            </h5>
            <div class="list-group-item-text">
              <p>Current plan 25 users - £250 per month</p>
              <p>Your next charge is £250 on April 10th 2015</p>
              <a role="button" class="btn btn-default">
                See plans and upgrade or downgrade.
              </a>
            </div>
          </li>
          <li class="list-group-item" ng-if="!isNew">
            <h5 class="list-group-item-heading">
              Credit Card
            </h5>
            <div class="list-group-item-text">
              <p>Your credit card on file is **********</p>
              <a>Change your credit card and billing information.</a>
            </div>
          </li>
          <li class="list-group-item">
            <h5 class="list-group-item-heading">
              Subscription
            </h5>
            <div class="list-group-item-text">
              <div class="panel-body">
                <form
                  novalidate
                  name="accountForm"
                  schema="AccountSubscription"
                  class="form-horizontal"
                  schema-doc="account">
                  <isa-loading-fieldset loading="loading">
                    <schema-form model="account" fields="organisationName,defaultLanguage"></schema-form>
                  </isa-loading-fieldset>
                </form>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <h5 class="list-group-item-heading">
              Billing Details
            </h5>
            <div class="list-group-item-text">
              <div class="panel-body">
                <form
                  novalidate
                  name="detailsForm"
                  schema="BillingDetails"
                  class="form-horizontal"
                  schema-doc="account.billingDetails">
                  <isa-loading-fieldset loading="loading">
                    <schema-form model="account.billingDetails" fields="email,address,city,zip,country"></schema-form>
                  </isa-loading-fieldset>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
