<div class="comments panel panel-default">

	<div class="panel-heading clearfix">

		<div class="pull-right">

			<button class="btn btn-default"
				ng-click="addComment()"
				ng-hide="add">
				<i class="fa fa-plus"></i>Add comment
			</button>

		</div>

		<h3 class="panel-title">
			Comments
			<span ng-show="comments.length > 0">({{comments.length}})</span>
		</h3>
	</div>

	<div>

		<div class="panel-body" style="padding:0">

			<isa-spinner style="padding:10px;" not-needed="loaded"></isa-spinner>

			<div class="list-group">

				<div class="list-group-item"
				ng-show="add">

					<form 
						novalidate
						class="form-horizontal" name="commentForm">

						<div class="form-group"
						ng-class="{ 'has-error': commentForm.comment.$invalid && commentForm.comment.$dirty }">

							<div class="col-sm-12">

							<textarea 
								class="form-control"
								name="comment"
								placeholder="Enter your comments here"
								ng-model="comment.text"
								ng-required="true"></textarea>

							</div>

						</div>

						<div style="margin-top: 5px">

							<button class="btn btn-primary"
								ng-disabled="!commentForm.$valid"
								ng-click="saveComment(commentForm)">
								<i class="fa fa-check"></i> Save
							</button>

							<button class="btn btn-link"
								ng-click="cancelComment()">
								Cancel
							</button>

						</div>



					</form>


					<!-- <form
						novalidate
						name="commentsForm"
						class="form-horizontal"
						schema="DocwikiPageComments"
						schema-doc="comment">

					  <schema-form model="comment" fields="text" hide-label="true"></schema-form>

						<div style="margin-top: 5px">

							<button class="btn btn-primary"
								ng-click="saveComment(commentsForm)">
								<i class="fa fa-check"></i> Save
							</button>

							<button class="btn btn-link"
								ng-click="cancelComment()">
								Cancel
							</button>

						</div>

					</form> -->

				</div>

            	<div class="list-group-item"
            	ng-show="!comments || comments.length==0">
            		<div class="row">
						<div class="col-sm-12">
						No comments added yet.
						</div>
					</div>
				</div>

				<!-- list of comments, ordered descending by created data -->
				<div class="list-group-item" ng-repeat="comment in comments | orderBy : 'created.at' : true">
		        	<isa-profile-img user-id="comment.created._id" class="avatar pull-left"></isa-profile-img>
		          <div class="list-group-item-content">

		              <div><strong>{{comment.created.fullName}}</strong></div>
		              {{comment.text}}
		              <br />
		              <small class="text-muted">Posted {{ comment.created.at | timeAgoFilter }} 
		              	<span ng-if="allowEdit">- <a ng-click="editComment(comment)">Edit</a></span> 
		              	<span ng-if="allowDelete">- <a ng-click="deleteComment(comment)">Delete</a></span>
		              </small>
		          </div>
				</div>

			</div>

        </div>

	</div>

</div>
