<div class="isometrica-meetings">
  <div class="isometrica-edit-modal isometrica-meetings-modal" id="isometrica-meetings-edit-modal">
    <div class="modal-content">
      <div class="modal-header clearfix">
        <div class="pull-left">
          <button type="button" class="btn btn-default" ng-click="vm.cancel()">
            Cancel
          </button>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-primary" ng-disabled="!meetingForm.$valid"
                  ng-click="vm.save(meetingForm)">
            Save
          </button>
        </div>
        <h4 class="modal-title">Meeting record</h4>
      </div>
      <ng-form class="form-horizontal" name="meetingForm" schema="Meetings" schema-doc="vm.meeting">
        <div class="modal-body">

          <schema-form model="vm.meeting" fields="type,date,notes"
                       configure="vm.configureMeetingType(fields)"></schema-form>

          <div>
            <accordion>
              <accordion-group class="full-width" is-open="attOpen">
                <accordion-heading>
                  <h4 class="panel-title pull-left">Attendees</h4>
                  <h4 class="panel-title pull-right text-muted">{{vm.attendees.length}}</h4>
                </accordion-heading>
                <accordion ng-if="attOpen">
                  <accordion-group is-open="vm.attOpen[$index]" ng-repeat="att in vm.attendees">
                    <isa-attendee is-open="vm.attOpen[$index]" attendee="att"
                                  save="vm.saveSubItem(form, vm.attOpen, $index)"
                                  remove="vm.deleteAttendee($index)"></isa-attendee>
                  </accordion-group>
                  <accordion-group ng-if="vm.newAttendee" is-open="true">
                    <isa-attendee is-open="vm.newAttendee" attendee="vm.newAttendee"
                                  save="vm.createAttendee(attendee, form)"
                                  remove="vm.newAttendee = null"></isa-attendee>
                  </accordion-group>
                </accordion>
                <button type="button"
                        class="btn btn-link btn-block btn-add"
                        ng-if="!vm.newAttendee"
                        ng-click="vm.addAttendee()">
                  Add attendee
                </button>
              </accordion-group>

              <accordion-group class="full-width" is-open="agOpen">
                <accordion-heading>
                  <h4 class="panel-title pull-left">Agenda items</h4>
                  <h4 class="panel-title pull-right text-muted">{{vm.agendaItems.length}}</h4>
                </accordion-heading>
                <accordion ng-if="agOpen">
                  <accordion-group is-open="vm.aiOpen[$index]" ng-repeat="agenda in vm.agendaItems">
                    <isa-agenda-item is-open="vm.aiOpen[$index]" agenda="agenda" save="vm.saveSubItem(form, vm.aiOpen, $index)" remove="vm.deleteAgendaItem($index)">
                    </isa-agenda-item>
                  </accordion-group>
                  <accordion-group ng-if="vm.newAgendaItem" is-open="true">
                    <isa-agenda-item is-open="vm.newAgendaItem" agenda="vm.newAgendaItem" save="vm.createAgendaItem(agenda, form)" remove="vm.newAgendaItem = null"></isa-agenda-item>
                  </accordion-group>
                </accordion>
                <button type="button"
                        class="btn btn-link btn-block btn-add"
                        ng-if="!vm.newAgendaItem"
                        ng-click="vm.addAgendaItem()">
                  Add agenda item
                </button>
              </accordion-group>

              <accordion-group class="full-width" ng-if="!vm.isNew" is-open="prevClosed">
                <accordion-heading>
                  <h4 class="panel-title pull-left">Action items from last meeting - closed </h4>
                  <h4 class="panel-title pull-right text-muted">{{vm.prevActionItems.closed.length}}</h4>
                </accordion-heading>
                <accordion ng-if="prevClosed">
                  <accordion-group is-open="vm.maOpen.closed[$index]"
                                   ng-repeat="action in vm.prevActionItems.closed track by action._id">
                    <isa-meeting-action-card action="action"
                                             save="vm.saveSubItem(form, vm.maOpen.closed, $index)"
                                             is-open="vm.maOpen.closed[$index]">
                    </isa-meeting-action-card>
                  </accordion-group>
                </accordion>
              </accordion-group>

              <accordion-group class="full-width" ng-if="!vm.isNew" is-open="prevOpen">
                <accordion-heading>
                  <h4 class="panel-title pull-left">Action items from last meeting - open</h4>
                  <h4 class="panel-title pull-right text-muted">{{vm.prevActionItems.open.length}}</h4>
                </accordion-heading>
                <accordion ng-if="prevOpen">
                  <accordion-group is-open="vm.maOpen.open[$index]"
                                   ng-repeat="action in vm.prevActionItems.open track by action._id">
                    <isa-meeting-action-card action="action"
                                             save="vm.saveSubItem(form, vm.maOpen.open, $index)"
                                             is-open="vm.maOpen.open[$index]">
                    </isa-meeting-action-card>
                  </accordion-group>
                </accordion>
              </accordion-group>

              <accordion-group class="full-width" ng-if="!vm.isNew" is-open="newAction">
                <accordion-heading>
                  <h4 class="panel-title pull-left">New meeting actions</h4>
                  <h4 class="panel-title pull-right text-muted">{{vm.actionItems.length}}</h4>
                </accordion-heading>
                <accordion ng-if="newAction">
                  <accordion-group is-open="vm.maOpen.added[$index]" ng-repeat="action in vm.actionItems track by $index">
                    <isa-meeting-action-card action="action"
                                             agenda-items="vm.agendaItems"
                                             save="vm.saveSubItem(form, vm.maOpen.added, $index)"
                                             is-open="vm.maOpen.added[$index]">
                    </isa-meeting-action-card>
                  </accordion-group>
                  <accordion-group ng-if="vm.newAction" is-open="true">
                    <isa-meeting-action-card action="vm.newAction"
                                             agenda-items="vm.agendaItems"
                                             save="vm.createMeetingAction(action, form)"
                                             remove="vm.newAction = null">
                    </isa-meeting-action-card>
                  </accordion-group>
                </accordion>
                <button type="button"
                        class="btn btn-link btn-block btn-add"
                        ng-if="!vm.newAction"
                        ng-click="vm.addMeetingAction()">
                  Add new action
                </button>
              </accordion-group>
            </accordion>
          </div>
          <div ng-if="!vm.isNew" class="text-center">
            <button type="button" class="btn btn-default btn-delete" ng-click="vm.delete()">Delete</button>
          </div>
        </div>

        <div ng-if="!vm.isNew" class="modal-footer">
          <panel-history for="vm.meeting"></panel-history>
        </div>
      </ng-form>

    </div>
  </div>
</div>
