<div class="isometrica-edit-modal isometrica-meetings-modal" id="isometrica-meetings-add-modal">
    <div class="modal-content">
      <div class="modal-header clearfix">
        <div class="pull-left">
          <button type="button" class="btn btn-default" ng-click="vm.cancel()">
            Cancel
          </button>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-primary" ng-disabled="!meetingForm.$valid" ng-click="vm.save(meetingForm)">
            Save
          </button>
        </div>
        <h4 class="modal-title">Meeting record</h4>
      </div>
      <form class="form-horizontal" name="meetingForm" schema="Meetings" schema-doc="vm.meeting">
        <div class="modal-body">
          <schema-form model="vm.meeting" fields="type,date,notes"></schema-form>

          <!--
          <hr>

          <h4>Attendees</h4>

          <div class="collapse" id="addAttendee">
            <div class="panel panel-default bootcards-panel-collapsing">
              <div class="panel-heading clearfix" href="#attendee-new" data-toggle="collapse" aria-expanded="true">
                <i class="fa fa-chevron-circle-down bootcards-panel-collapsing-indicator"></i>
                Add attendee
              </div>
              <div class="collapse in" id="attendee-new">
                <div class="panel-body">
                  <div class="form-group">
                    <label class="control-label col-xs-4">
                      <a href="#" class="help-icon"><i class="fa fa-question-circle fa-lg"></i></a>
                      Name
                    </label>
                    <div class="col-xs-8">
                      <input type="text" class="form-control" value="" placeholder="Name">
                      <button type="button" class="btn btn-link clear-field">
                        <i class="fa fa-times-circle"></i>
                      </button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-4">Initials</label>
                    <div class="col-xs-8">
                      <input type="text" class="form-control" value="" placeholder="Initials">
                      <button type="button" class="btn btn-link clear-field">
                        <i class="fa fa-times-circle"></i>
                      </button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-xs-4">Regular attendee</label>
                    <div class="col-xs-8">
                      <div class="btn-group">
                        <a class="btn btn-primary">Yes</a>
                        <a class="btn btn-default">No</a>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-4 clearfix">
                      <button type="button" class="btn btn-primary pull-left">Save Changes</button>
                      <button type="button" class="btn btn-default pull-right">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <button type="button" class="btn btn-link btn-block btn-add" data-toggle="collapse" href="#addAttendee" aria-expanded="false">Add attendee</button>

          <hr>

          <h4>Agenda items</h4>

          <button type="button" class="btn btn-link btn-block btn-add">Add agenda item</button>

          <hr>

          <h4>New meeting actions</h4>

          <div class="text-center">
            <button type="button" class="btn btn-link btn-add">Add new action</button>
          </div>
        -->
        </div>
      </form>
    </div>
</div>
