<div class="isometrica-meetings">
  <div class="isometrica-edit-modal isometrica-meetings-modal" id="isometrica-meetings-edit-modal">
    <div class="modal-content">
      <div class="modal-header clearfix">
        <div class="pull-left">
          <button type="button" class="btn btn-default" ng-click="vm.cancel()">
            Cancel
          </button>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-primary" ng-disabled="!meetingForm.$valid"
                  ng-click="vm.save(meetingForm)">
            Save
          </button>
        </div>
        <h4 class="modal-title">Meeting record</h4>
      </div>
      <ng-form class="form-horizontal" name="meetingForm" schema="Meetings" schema-doc="vm.meeting">
      <div class="modal-body">
          <schema-form model="vm.meeting" fields="type,date,notes"></schema-form>
        <hr>

        <h4>Attendees</h4>

        <div>
          <accordion>
            <accordion-group is-open="vm.attOpen[$index]" ng-repeat="att in vm.attendees track by $index">
              <accordion-heading>
                  <span ng-style="{'text-decoration': att.inTrash ? 'line-through' : 'inherit'}">{{att.name || '&nbsp;'}}</span>
              </accordion-heading>
              <ng-form class="form-horizontal" name="attForm" schema="Attendees" schema-doc="att">
                <schema-form ng-if="!att.inTrash" model="att" fields="name,initials,isRegular" configure="vm.configureAttendees(fields)"></schema-form>
                <hr ng-if="!att.inTrash">
                <div class="form-group">
                  <div class="col-sm-8 col-sm-offset-4 clearfix">
                    <button type="button" class="btn btn-default pull-right"
                        ng-click="vm.deleteAttendee($index)">
                      {{att.inTrash ? 'Restore' : 'Delete'}}
                    </button>
                  </div>
                </div>
              </ng-form>
            </accordion-group>
          </accordion>
        </div>

        <button type="button" class="btn btn-link btn-block btn-add" ng-click="vm.addAttendee()">Add attendee</button>

        <hr>

        <h4>Agenda items</h4>
        <div>
          <accordion>
            <accordion-group is-open="vm.aiOpen[$index]" ng-repeat="agenda in vm.agendaItems track by $index">
              <accordion-heading>
                <div class="row">
                  <div class="col-xs-10" ng-style="vm.computeAgendaStyle(agenda)">
                    {{agenda.itemNo}}. {{agenda.details}}
                  </div>
                  <div class="col-xs-2" ng-style="vm.computeAgendaStyle(agenda)">
                    {{agenda.whoSubmitted}}
                  </div>
                </div>
              </accordion-heading>
              <ng-form class="form-horizontal" name="agendaForm" schema="AgendaItems" schema-doc="agenda">
                <schema-form ng-if="!agenda.inTrash" model="agenda" fields="details,itemNo,whoSubmitted,isRegular"></schema-form>
                <hr ng-if="!agenda.inTrash">
                <div class="form-group">
                  <div class="col-sm-8 col-sm-offset-4 clearfix">
                    <button type="button" class="btn btn-default pull-right"
                            ng-click="vm.deleteAgendaItem($index)">
                      {{agenda.inTrash ? 'Restore' : 'Delete'}}
                    </button>
                  </div>
                </div>
              </ng-form>
            </accordion-group>
          </accordion>
        </div>

        <button type="button" class="btn btn-link btn-block btn-add" ng-click="vm.addAgendaItem()">Add agenda item</button>

        <!--

        <hr>

        <h4>Agenda items</h4>

        <button type="button" class="btn btn-link btn-block btn-add">Add agenda item</button>

        <hr>

        <h4>New meeting actions</h4>

        <div class="text-center">
          <button type="button" class="btn btn-link btn-add">Add new action</button>
        </div>
      -->
      </div>
      </ng-form>

    </div>
  </div>
</div>
