<div class="isometrica-meetings">
  <isa-meetings-header></isa-meetings-header>
  <div class="container bootcards-container isometrica-container-listdetail" id="main">
    <isa-meetings-guidance></isa-meetings-guidance>

    <div class="row">

      <div class="col-sm-4 bootcards-list" id="list">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="search-form">
              <div class="row">
                <div class="col-xs-8">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="query" placeholder="Search Meetings...">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
                <div class="col-xs-4">
                  <button class="btn btn-primary btn-block" ng-click="vm.addMeeting()">
                    <i class="fa fa-plus"></i>
                    <span>Add</span>
                  </button>
                </div>
              </div>

            </div>
          </div>
          <div class="list-group">
            <a class="list-group-item" ng-repeat="mtg in vm.meetings | filter:query"
               ui-sref=".meeting({mtgId: mtg._id})" ui-sref-active="active">
              <span isa-meeting-status="mtg"></span>
              <div class="list-group-item-content">
                <h4 class="list-group-item-heading">{{mtg.type}}</h4>
                <p class="list-group-item-text">{{mtg.date | isaDate}}, {{mtg.actionCount}} actions</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 bootcards-cards hidden-xs">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>
