/* CANVAS */
/* Guidance bar */
.resilify-canvas-page .guidance-bar {
  height: 100px !important;
  overflow: hidden; }
  .resilify-canvas-page .guidance-bar .btn-group {
    margin-top: -5px;
    margin-bottom: -10px; }
    .resilify-canvas-page .guidance-bar .btn-group .btn {
      padding-left: 10px;
      padding-right: 10px; }

.android.resilify-canvas-page .guidance-bar h4 {
  font-size: 15px;
  line-height: 22px; }
.android.resilify-canvas-page .guidance-bar .btn {
  font-size: 15px; }

/* Rows */
.canvas-row {
  position: fixed;
  left: 0;
  right: 0;
  top: 150px;
  /* Space for navbar & guidance bar */
  bottom: 0;
  margin: 0;
  background: #eee; }
  .canvas-row .canvas-column {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    border-right: 1px solid #ccc; }
    .canvas-row .canvas-column .canvas-column-header {
      padding: 10px 0; }
      .canvas-row .canvas-column .canvas-column-header .btn {
        padding: 0;
        font-size: 24px;
        margin: 0 15px; }
        .canvas-row .canvas-column .canvas-column-header .btn i {
          margin: 0; }
    .canvas-row .canvas-column .canvas-item-heading {
      cursor: pointer;
      transition: all 0.3s ease;
      margin: 0 15px 15px 15px;
      border-color: #bbb;
      overflow: hidden; }
      .canvas-row .canvas-column .canvas-item-heading:hover, .canvas-row .canvas-column .canvas-item-heading:focus, .canvas-row .canvas-column .canvas-item-heading:active {
        border-color: #5bc0de; }
      .canvas-row .canvas-column .canvas-item-heading .panel-heading {
        border: 0;
        position: relative;
        padding-left: 40px;
        background: #eee;
        transition: all 0.3s ease; }
        .canvas-row .canvas-column .canvas-item-heading .panel-heading:hover, .canvas-row .canvas-column .canvas-item-heading .panel-heading:focus, .canvas-row .canvas-column .canvas-item-heading .panel-heading:active {
          background: #fafafa; }
        .canvas-row .canvas-column .canvas-item-heading .panel-heading:after {
          content: "\f138";
          display: block;
          font-family: "FontAwesome";
          line-height: 20px;
          font-size: 18px;
          width: 24px;
          text-align: center;
          color: #337ab7;
          position: absolute;
          left: 10px;
          top: 50%;
          margin-top: -10px;
          transition: all 0.3s ease; }
        .canvas-row .canvas-column .canvas-item-heading .panel-heading h3 {
          font-size: 14px;
          line-height: 20px;
          margin: 0; }
      .canvas-row .canvas-column .canvas-item-heading[aria-expanded="true"] {
        margin-bottom: 15px; }
        .canvas-row .canvas-column .canvas-item-heading[aria-expanded="true"] .panel-heading:after {
          transform: rotate(90deg); }
    .canvas-row .canvas-column .canvas-item {
      padding: 15px;
      overflow: hidden;
      text-align: center;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;
      color: #333;
      margin: 0 15px 15px 15px;
      min-height: 100px;
      border-color: #bbb;
      /* Chart */
      /* Checkbox */
      /* Progress */
      /* Clock */
      /* Icon */
      /* Label */ }
      .canvas-row .canvas-column .canvas-item:hover, .canvas-row .canvas-column .canvas-item:focus, .canvas-row .canvas-column .canvas-item:active {
        border-color: #5bc0de; }
      .canvas-row .canvas-column .canvas-item .canvas-item-title {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 15px 0; }
      .canvas-row .canvas-column .canvas-item .canvas-item-chart {
        font-size: 0;
        margin: 0 -15px -15px; }
        .canvas-row .canvas-column .canvas-item .canvas-item-chart canvas {
          width: 100% !important;
          height: 50px !important; }
      .canvas-row .canvas-column .canvas-item .canvas-item-checkbox {
        width: 32px;
        height: 32px;
        margin: 0 auto;
        margin-top: -5px;
        border-radius: 4px;
        border: 2px solid #999;
        color: #999;
        line-height: 28px;
        text-align: center;
        font-size: 18px; }
        .canvas-row .canvas-column .canvas-item .canvas-item-checkbox.text-danger {
          border-color: #da8080; }
        .canvas-row .canvas-column .canvas-item .canvas-item-checkbox.text-success {
          border-color: #7cd27c; }
      .canvas-row .canvas-column .canvas-item .canvas-item-progress {
        margin-bottom: 0; }
      .canvas-row .canvas-column .canvas-item .canvas-item-clock {
        color: #777;
        font-size: 15px;
        font-weight: 500; }
        .canvas-row .canvas-column .canvas-item .canvas-item-clock span {
          display: block;
          font-size: 11px;
          font-weight: 500; }
      .canvas-row .canvas-column .canvas-item .canvas-item-icon {
        color: #999; }
      .canvas-row .canvas-column .canvas-item .text-danger {
        color: #da8080; }
      .canvas-row .canvas-column .canvas-item .text-warning {
        color: #dfb667; }
      .canvas-row .canvas-column .canvas-item .text-success {
        color: #7cd27c; }
      .canvas-row .canvas-column .canvas-item .canvas-item-label {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        padding: 0;
        line-height: 20px; }

.ios .canvas-row {
  top: 144px; }
  .ios .canvas-row .canvas-item-heading {
    background: transparent; }
    .ios .canvas-row .canvas-item-heading .panel-heading {
      padding-left: 30px;
      padding-right: 0;
      background: transparent !important; }
      .ios .canvas-row .canvas-item-heading .panel-heading:after {
        left: 0; }

.android .canvas-row .canvas-item-heading {
  background: transparent;
  border: 0; }
  .android .canvas-row .canvas-item-heading .panel-heading {
    padding-left: 30px;
    padding-right: 0;
    background: transparent !important; }
    .android .canvas-row .canvas-item-heading .panel-heading:after {
      left: 0; }

/* CANVAS ITEM MODAL */
.resilify-canvas-modal .subheader {
  font-size: 14px;
  line-height: 1.5;
  padding: 12px 15px; }
.resilify-canvas-modal .resilify-canvas-modal-subheading {
  margin: 0 0 15px;
  font-size: 16px; }
.resilify-canvas-modal .modal-body {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0; }
  .resilify-canvas-modal .modal-body:last-child {
    border-bottom: 0; }
.resilify-canvas-modal .modal-footer {
  border-top: 0;
  text-align: center; }
  .resilify-canvas-modal .modal-footer .btn {
    float: none; }
.resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts {
  padding: 0; }
  .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-subheading {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin: 0;
    font-size: 16px;
    font-weight: 500; }
  .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li {
      float: left;
      width: 12.5%; }
      .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a {
        display: block;
        text-align: center;
        padding: 15px 0;
        border-right: 1px solid #ddd;
        transition: all 0.3s ease;
        font-weight: bold; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a:hover, .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a:focus, .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a:active {
          text-decoration: none;
          background: #5bc0de;
          color: white; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a.impact-vlow {
          background: #29aa50; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a.impact-low {
          background: #5cb85c; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a.impact-medium {
          background: #f0ad4e; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a.impact-high {
          background: #d9534f; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a.impact-vhigh {
          background: #a60200; }
        .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li a[class^="impact-"] {
          color: white;
          border: 0; }
      .resilify-canvas-modal#businessImpact1Modal .panel-body.resilify-impacts .resilify-impacts-row li:last-child a {
        border-right: 0; }
.resilify-canvas-modal#businessImpact1Modal .btn.add-type {
  margin-bottom: 15px; }
.resilify-canvas-modal#businessImpact1Modal .overall-analysis .form-group {
  padding-left: 50px;
  position: relative; }
.resilify-canvas-modal#businessImpact1Modal .overall-analysis .resilify-canvas-modal-help-icon {
  line-height: 20px;
  font-size: 24px;
  width: 24px;
  text-align: center;
  margin-top: 7px;
  color: #337ab7;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -12px;
  transition: all 0.3s ease;
  cursor: pointer; }
  .resilify-canvas-modal#businessImpact1Modal .overall-analysis .resilify-canvas-modal-help-icon:hover, .resilify-canvas-modal#businessImpact1Modal .overall-analysis .resilify-canvas-modal-help-icon:focus, .resilify-canvas-modal#businessImpact1Modal .overall-analysis .resilify-canvas-modal-help-icon:active {
    color: #23527c; }
.resilify-canvas-modal#impactGradingModal .modal-content {
  overflow: hidden; }
.resilify-canvas-modal#impactGradingModal .modal-title {
  text-align: left; }
.resilify-canvas-modal#impactGradingModal .resilify-impacts-grading {
  padding: 0; }
  .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul {
    padding: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    background: #c02927; }
    .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li {
      float: left;
      color: white;
      font-weight: bold;
      width: 20%;
      height: 100px;
      overflow: hidden;
      line-height: 100px;
      text-align: center;
      cursor: pointer; }
      .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li.impact-vlow {
        background: #29aa50; }
      .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li.impact-low {
        background: #5cb85c; }
      .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li.impact-medium {
        background: #f0ad4e; }
      .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li.impact-high {
        background: #d9534f; }
      .resilify-canvas-modal#impactGradingModal .resilify-impacts-grading ul li.impact-vhigh {
        background: #c02927; }
.resilify-canvas-modal#impactGradingCustomizeModal .modal-content {
  overflow: hidden; }
.resilify-canvas-modal#impactGradingCustomizeModal .modal-title {
  text-align: left; }
.resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading {
  padding: 0; }
  .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul {
    padding: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    background: #c02927; }
    .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li {
      float: left;
      color: white;
      font-weight: bold;
      width: 20%;
      height: 100px;
      overflow: hidden;
      text-align: center;
      cursor: pointer;
      position: relative; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li.impact-vlow {
        background: #29aa50; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li.impact-low {
        background: #5cb85c; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li.impact-medium {
        background: #f0ad4e; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li.impact-high {
        background: #d9534f; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li.impact-vhigh {
        background: #c02927; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li label {
        line-height: 40px;
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .resilify-canvas-modal#impactGradingCustomizeModal .resilify-impacts-grading ul li textarea {
        position: absolute;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
        border: 0;
        box-shadow: none;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 18px;
        resize: none;
        padding: 0 10px; }
.resilify-canvas-modal#businessImpact2Modal .panel-title span {
  font-weight: normal; }
.resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table {
  margin: 0;
  border-top: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table th {
    text-align: center;
    border-bottom-width: 1px; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table th:first-child, .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table td:first-child {
    border-left: 0; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table th:last-child, .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table td:last-child {
    border-right: 0; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table tr:last-child th, .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table tr:last-child td {
    border-bottom: 0; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table .form-control {
    border: 0;
    text-align: center;
    box-shadow: none;
    height: auto;
    color: #337ab7;
    resize: none;
    padding-left: 0;
    padding-right: 0; }
  .resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-table textarea {
    text-align: left !important; }
.resilify-canvas-modal#businessImpact2Modal .resilify-resource-analysis-totals input {
  width: 50px;
  margin-left: 10px;
  text-align: center; }
.resilify-canvas-modal#businessImpact2Modal .btn.add-type {
  margin-bottom: 15px; }
.resilify-canvas-modal#riskAnalysisModal .risk-analysis-linked-items {
  margin-bottom: 10px; }
  .resilify-canvas-modal#riskAnalysisModal .risk-analysis-linked-items .btn {
    margin-bottom: 5px; }
.resilify-canvas-modal#riskAnalysisModal .risk-analysis-impacts {
  margin-bottom: 0; }
  .resilify-canvas-modal#riskAnalysisModal .risk-analysis-impacts .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0; }
.resilify-canvas-modal#riskAnalysisModal .risk-analysis-likelihood {
  margin-bottom: 0; }
  .resilify-canvas-modal#riskAnalysisModal .risk-analysis-likelihood .btn {
    border-radius: 0;
    border-bottom: 0; }
.resilify-canvas-modal#riskAnalysisModal .risk-analysis-score .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.resilify-canvas-modal#riskGradingModal .resilify-risk-grading table {
  margin-bottom: 10px; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table th, .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td {
    border-color: white;
    border-left: 1px solid white;
    text-align: center;
    width: 14.2857%;
    padding: 10px !important; }
    .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table th:first-child, .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td:first-child {
      border-left: 0; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact {
    cursor: pointer;
    position: relative; }
    .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.1);
      display: none; }
    .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact:hover:after, .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact:focus:after, .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact:active:after {
      display: block; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact-vlow {
    background: #19aa50; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact-low {
    background: #5cb85c; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact-medium {
    background: #f0ad4e; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact-high {
    background: #d9534f; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table td.impact-vhigh {
    background: #c02927; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table th.impact-label {
    background: #eee; }
  .resilify-canvas-modal#riskGradingModal .resilify-risk-grading table .impacts-heading {
    -webkit-transform: rotate(-90deg);
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px; }
.resilify-canvas-modal#strategyEvaluationModal .disabled {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
  padding-left: 0; }
.resilify-canvas-modal#strategyEvaluationModal .evaluation-rating {
  padding-right: 0; }
.resilify-canvas-modal#strategyEvaluationModal .is-selected label {
  margin-right: 15px; }
.resilify-canvas-modal#logEntryModal .problems-nonconformities {
  background: #eee; }
  .resilify-canvas-modal#logEntryModal .problems-nonconformities .btn.pull-right {
    position: relative;
    top: -8px;
    margin-right: -8px; }
.resilify-canvas-modal#logEntryModal .table {
  margin-bottom: 0; }
  .resilify-canvas-modal#logEntryModal .table th {
    background: #eee; }
  .resilify-canvas-modal#logEntryModal .table .label {
    font-size: 14px; }
.resilify-canvas-modal .resilify-rich-text-control {
  padding: 0; }
  .resilify-canvas-modal .resilify-rich-text-control .resilify-rich-text-controls {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center; }
    .resilify-canvas-modal .resilify-rich-text-control .resilify-rich-text-controls .btn {
      border: 0;
      border-radius: 0; }
  .resilify-canvas-modal .resilify-rich-text-control .resilify-rich-text-input {
    height: 300px; }

/*# sourceMappingURL=styles.css.map */
