<div class="panel panel-default bootcards-wiki-panel" ng-cloak>

  <div class="panel-heading">

    <div class="pull-left">
      <button class="btn btn-default" ng-click="cancelEdit()" >
        <i class="fa fa-times"></i>Cancel
      </button>
    </div>

    <div class="pull-right">
      <button class="btn btn-primary" ng-click="save(issueForm.$valid)">
        <i class="fa fa-check"></i>Save
      </button>
    </div>

    <h3 class="panel-title text-center">Issue</h3>

  </div>

  <div class="panel-body">

    <form class="form-horizontal" name="issueForm" novalidate
      schema="DocwikiIssues"
      schema-doc="issue">

      <isa-schema-field 
        model="issue.issueNo" 
        name="issueNo" 
        field="issueNo">
      </isa-schema-field>

      <isa-schema-field 
        model="issue.contents" 
        name="contents" 
        field="contents"
        field-type="textarea">
      </isa-schema-field>

      <isa-schema-field 
        model="issue.issueDate" 
        name="issueDate" 
        field="issueDate"
        field-type="date">
      </isa-schema-field>

      <isa-schema-field 
        model="issue.authorisedBy" 
        name="authorisedBy" 
        field="authorisedBy">
      </isa-schema-field>

    </form>

  </div>

  <div class="panel-footer" ng-if="!isNew">
    <button class="btn btn-danger btn-block" ng-click="delete(issue)">Delete</button>
  </div>

</div>
