<div class="row">
    <div class="col-sm-4 bootcards-list">

      <div class="panel panel-default">

        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">{{docWiki.title}}</h3>
            <div class="pull-right">
              <a class="btn btn-default"
                ng-click="editSettings()">
                <i class="fa fa-gear no-margin"></i>
              </a>
            </div>
          </div>

         <div class="list-group">

          <div ng-if="issues.length == 0">No issues have been created yet</div>

          <a class="list-group-item" 
          ng-repeat="issue in issues" ng-click="issueDetails(issue._id)">

              <h4 class="list-group-item-heading">{{issue.issueNo}}  {{issue.contents}}</h4>
              <h5 class="list-group-item-heading">{{issue.authorisedBy}} | {{issue.issueDate | date}}</h5>

          </a>

        </div>

      </div>
    </div>

     <div class="col-sm-8">

      <div ui-view></div>

    </div>

</div>
