<div class="resilify-dashboard-items row">
	<a ng-click="onAdd()" class="resilify-dashboard-add col-sm-1">
		<i class="fa fa-plus-circle"></i> New Document or Organisation
	</a>

    <!--TODO do we still need to support multiple organisations in an account? Or is this tied to the account?-->

	<!--<div ng-repeat="section in sections.arr" class="row col-sm-11">-->

			<!--<h4>{{ section.name }}</h4>-->
    <div class="row col-sm-11">
		<div class="col-sm-6 col-md-4" ng-repeat="module in sections" ng-if="sections.length">
			<div class="panel panel-default resilify-dashboard-item">

				<div class="panel-body" ui-sref="{{ module.type }}({
					orgId: module.orgId,
					moduleId: module._id
				})">
					<img class="canvas-icon pull-left" src="img/resilify-icon-small@2x.png" alt="Canvas icon"/>
					<h3 class="panel-title">{{ module.title }}</h3>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" style="width: 85%;">
							85%
						</div>
					</div>
					<p>{{ module.description }}</p>
				</div>
				<div class="panel-footer">
					<ul class="users">
						<li ng-repeat="user in section.users">
							<a ui-sref="userActivity({
								userId : user.id
							})">
								<isa-profile-img user="user" tooltip="{{ user.name }}"></isa-profile-img>
							</a>
						</li>
						<li>
							<a class="add-user" data-toggle="tooltip" title="" data-original-title="Add a User" ui-sref="moduleUsers({
									moduleId : module.id
								})">
								<i class="fa fa-plus"></i>
							</a>
						</li>
						<li>
							<a ng-click="onEditModule({ module: module })">
								<i class="fa fa-lg fa-gear"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-if="!section.modules.length">
			{{ emptyMessage }}
		</div>
	</div>
</div>
