
<div class="container bootcards-container isometrica-container-listdetail" id="main">
	<isa-select-header
		selected-opt="selectState"
		header-title="org.name + ' address book - ' + selectState"
		filter-opts="[ 'Users', 'Contacts', 'Organizations' ]">
	</isa-select-header>
	<isa-guidance-bar>
		<h4>
			Guidance goes here lorem ipsum
		</h4>
	</isa-guidance-bar>
	<div class="row">
		<div class="col-sm-4 bootcards-list" id="list">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="search-form">
						<div class="row">
							<div class="col-xs-8">
								<div class="form-group">
									<input type="text" class="form-control" ng-model="query" placeholder="Search {{ selectState }}...">
									<i class="fa fa-search"></i>
								</div>
							</div>
							<div class="col-xs-4">
								<a class="btn btn-primary btn-block" ng-click="add()">
									<i class="fa fa-plus"></i>
									<span>Add</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="list-group">
					<a
						class="list-group-item"
						ng-repeat="entity in collection() | filter : query"
						ng-click="showDetail(entity)">
						<div ng-if="selectState === 'Users'">
							<isa-profile-img user="entity.profile" class="pull-left"></isa-profile-img>
							<h4 class="list-group-item-heading" isa-empty-attr value="entity.profile.fullName"></h4>
							<p class="list-group-item-text" isa-empty-attr value="entity.profile.role"></p>
						</div>
						<div ng-if="selectState === 'Contacts'">
							<isa-profile-img user="entity" grey="true" class="pull-left"></isa-profile-img>
							<h4 class="list-group-item-heading" isa-empty-attr value="entity.name"></h4>
							<p class="list-group-item-text" isa-empty-attr value="entity.type"></p>
						</div>
						<div ng-if="selectState === 'Organizations'">
							<h4 class="list-group-item-heading" isa-empty-attr value="entity.name"></h4>
						</div>
					</a>
					<div
						ng-if="collection().length === 0"
						class="list-group-item">
						<h4>None found. Try <a ng-click="add()">adding some.</a></h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-8 bootcards-cards hidden-xs">
			<div id="detail" ui-view></div>
		</div>
	</div>
</div>
