
<div class="isa-address-book-page">
	<isa-select-header
		selected-opt="selectState"
		header-title="'Address Book - ' + selectState + ' - IBM'"
		filter-opts="[ 'Users', 'Contacts', 'Organisations' ]">
	</isa-select-header>
	<isa-guidance-bar>
		<h4>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed neque at lorem placerat
			pharetra vel quis magna
		</h4>
	</isa-guidance-bar>
	<div class="container bootcards-container isa-address-book-container">
		<div class="row">
			<div class="bootcards-list col-sm-5">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="search-form">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="query" placeholder="Search {{ selectState }}...">
								<i class="fa fa-search"></i>
							</div>
						</div>
					</div>
					<div class="list-group">
						<a
							class="list-group-item"
							ng-if="collection().length > 0"
							ng-repeat="entity in collection() | filter : query">
							<div ng-if="selectState === 'Users'" ng-click="showDetail(entity.user())">
								<isa-profile-img user="user"></isa-profile-img>
								<h4 class="list-group-item-heading" isa-empty-attr value="entity.user().profile.fullName"></h4>
								<p class="list-group-item-text" isa-empty-attr value="entity.user().profile.role"></p>
							</div>
							<div ng-if="selectState === 'Contacts'" ng-click="showDetail(entity)">
								<isa-profile-img user="entity"></isa-profile-img>
								<h4 class="list-group-item-heading" isa-empty-attr value="entity.name"></h4>
								<p class="list-group-item-text" isa-empty-attr value="entity.type"></p>
							</div>
							<div ng-if="selectState === 'Organisations'" ng-click="showDetail(entity)">
								<h4 class="list-group-item-heading" isa-empty-attr value="entity.name"></h4>
							</div>
						</a>
						<div
							ng-if="collection().length === 0"
							class="list-group-item">
							<h4>None found. Try <a ng-click="add()">adding some.</a></h4>
						</div>
					</div>
				</div>
			</div>
			<div class="bootcards-cards col-sm-7">
				<div id="detail" ui-view></div>
			</div>
		</div>
	</div>
</div>
