<isa-address-book-modal-header
	can-save="contactForm.$valid"
	on-save="save()"
	on-cancel="cancel()"
	title="{{ isNew ? 'New' : 'Edit' }} Contact">
</isa-address-book-modal-header>

<div class="modal-body">
	<form
		novalidate
		name="contactForm"
		schema="Contact"
		class="form-horizontal"
		schema-doc="object">
		<isa-loading-fieldset loading="loading">
			<schema-form template-options='{ "photo": { "grey": true } }' model="object" fields="photo,name,title,type,orgName"></schema-form>
			<isa-phone-numbers contactable="object"></isa-phone-numbers>
			<schema-form model="object" fields="address,notes"></schema-form>
		</isa-loading-fieldset>
	</form>
</div>

<div class="modal-body">
  <div ng-if="!isNew" class="text-center">
    <button type="button" class="btn btn-default">Delete</button>
  </div>
</div>
