<div
  class="form-group"
  ng-repeat="phoneNumber in contactable.phoneNumbers"
  ng-init="numberInput = 'number' + $index; typeInput = 'type' + $index">
  <label class="control-label col-xs-4">
    <span ng-if="$index">&nbsp;</span>
    <span ng-if="!$index">Phone number</span>
  </label>
  <div class="col-xs-4" ng-class="{
    'has-error':
      userForm[numberInput].$touched &&
      userForm[numberInput].$invalid
  }">
    <input
      required
      type="text"
      ng-model="phoneNumber.number"
      name="{{ numberInput }}"
      class="form-control"
      placeholder="Number"/>
  </div>
  <div class="col-xs-3" ng-class="{
    'has-error':
      userForm[typeInput].$touched &&
      userForm[typeInput].$invalid
  }">
    <select ng-model="phoneNumber.type" required name="{{ typeInput }}" class="form-control">
      <option>Work</option>
      <option>Home</option>
      <option>Mobile</option>
    </select>
  </div>
  <button class="btn btn-link col-xs-1" ng-click="removePhoneNumber($index)">
    <i class="fa fa-times-circle fa-lg"></i>
  </button>
</div>
<div class="form-group">
  <div class="col-xs-8 col-xs-offset-4">
    <button
      ng-click="addPhoneNumber()"
      type="button"
      class="btn btn-link">
      Add {{ contactable.phoneNumbers.length ? 'another' : 'a' }} phone number
    </button>
  </div>
</div>
