
<isa-address-book-modal-header
	can-save="userForm.$valid"
	on-save="save()"
	on-cancel="cancel()"
	title="Edit User">
</isa-address-book-modal-header>

<div class="modal-body">

	<div class="form-group has-error text-center">
		<small class="help-block" ng-show="err">{{ err.message }}</small>
	</div>

	<form
		novalidate
		name="userForm"
		schema="UserEdit"
		class="form-horizontal"
		schema-doc="object.profile">
		<isa-loading-fieldset loading="loading">
			<schema-form model="object.profile" fields="photo,firstName,lastName,initials,title,role,email"></schema-form>
			<isa-phone-numbers contactable ="object.profile"></isa-phone-numbers>
			<schema-form model="object.profile" fields="address"></schema-form>
			<div class="form-group">
				<label class="control-label col-xs-4">Password</label>
				<div class="col-xs-8">
					<button type="button" class="btn btn-primary" ng-click="changePassword()">Change password</button>
				</div>
			</div>
		</isa-loading-fieldset>
	</form>

	<div>

		<form
			novalidate
			name="memForm"
			schema="Membership"
			class="form-horizontal panel panel-default bootcards-panel-collapsing full-width"
			schema-doc="membership">
	    <div class="panel-heading clearfix collapsed" href="#superpowers" data-toggle="collapse">
	      <i class="fa fa-chevron-circle-down bootcards-panel-collapsing-indicator"></i>
	      <h4 class="panel-title pull-left">{{ object.profile.fullName }}'s superpowers for {{ membership.org().name }}</h4>
	      <i class="fa fa-chevron-right disclosure-indicator pull-right"></i>
	    </div>
	    <div class="collapse" id="superpowers">
	      <div class="panel-body">
					<isa-loading-fieldset loading="loading">
						<schema-form model="membership" fields="canCreateUsers,canCreateDocuments,canEditOrgSettings,canViewAllWorkInboxes,canEditUserProfiles,canEditUserSuperpowers"></schema-form>
					</isa-loading-fieldset>
	      </div>
	    </div>
		</form>

		<div class="panel panel-default bootcards-panel-collapsing full-width">
	    <div class="panel-heading clearfix collapsed" href="#documents" data-toggle="collapse">
	      <i class="fa fa-chevron-circle-down bootcards-panel-collapsing-indicator"></i>
	      <h4 class="panel-title pull-left">Documents Dan can access</h4>
	      <i class="fa fa-chevron-right disclosure-indicator pull-right"></i>
	    </div>
			<div class="collapse" id="documents">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Document title</th>
								<th>Access privileges</th>
								<th>Owner</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="doc in docs">
								<td>{{ doc.title }}</td>
								<td>{{ doc.permission }}</td>
								<td>{{ doc.owner.name }}</td>
							</tr>
						</tbody>
					</table>
				</div>
	    </div>
		</div>

	</div>

  <div class="text-center">
    <button type="button" class="btn btn-default">Delete</button>
  </div>

</div>
