<isa-address-book-modal-header
	can-save="contactForm.$valid"
	on-save="save()"
	on-cancel="cancel()"
	title="Edit Contact">
</isa-address-book-modal-header>

<div class="modal-body">
	<form
		novalidate
		name="contactForm"
		schema="Contact"
		class="form-horizontal"
		schema-doc="object">
		<isa-loading-fieldset loading="loading">
			<schema-form template-options='{ "photo": { "grey": true } }' model="object" fields="photo,name,email,type,role,address"></schema-form>
			<isa-phone-numbers contactable="object"></isa-phone-numbers>
		</isa-loading-fieldset>
	</form>
</div>
