<div class="modal-content">
	<isa-address-book-modal-header
		can-save="userForm.$valid"
		on-save="saveObject()"
		on-cancel="cancel()"
		title="Edit User">
	</isa-address-book-modal-header>
	<div class="modal-body">
		<form
			novalidate
			name="userForm"
			schema="UserProfile"
			class="form-horizontal"
			schema-doc="object">
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label col-xs-4">Photo</label>
					<div class="col-xs-8">
						<img class="img-circle" src="img/avatar-mark.gif">
						<button type="button" class="btn btn-default">Change</button>
					</div>
				</div>
				<isa-loading-fieldset loading="loading">
					<schema-form model="object" fields="fullName,role"></schema-form>
					<div class="form-group">
						<label class="control-label col-xs-4">Phone number</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" placeholder="Number"/>
						</div>
						<div class="col-xs-3">
							<select class="form-control">
								<option>Work</option>
								<option>Home</option>
								<option>Mobile</option>
							</select>
						</div>
						<div class="col-xs-8 col-xs-offset-4">
							<button type="button" class="btn btn-link">Add another phone number</button>
						</div>
					</div>
					<schema-form model="object" fields="address,city,state,postcode,country"></schema-form>
					<div class="form-group has-error text-center">
						<small class="help-block" ng-show="err">{{ err.message }}</small>
					</div>
				</isa-loading-fieldset>
			</div>
			<div class="bootcards-accordion">
				<a class="list-group-item bootcards-list-subheading collapsed" data-toggle="collapse" href="#isometrica-addressbook-edit-useradmin" aria-expanded="false">
					User admin
				</a>
				<div class="collapse isometrica-addressbook-edit-useradmin" id="isometrica-addressbook-edit-useradmin">
					<div class="modal-body">
						<div class="form-group">
							<label class="control-label col-xs-4">Type of person</label>
							<div class="col-xs-8">
								<select class="form-control">
									<option>Type</option>
									<option>User</option>
									<option>Customer</option>
									<option>Supplier</option>
									<option>Supplier-approved</option>
									<option>Business partner</option>
									<option>Consultant</option>
									<option>Other</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-4">Password</label>
							<div class="col-xs-8">
								<input type="password" class="form-control" placeholder="Password"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-4">Permissions</label>
							<div class="col-xs-8">
								<div class="checkbox">
									<label>
										<input type="checkbox" class="checkbox"/>
										Create new projects &amp; documents
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-4">&nbsp;</label>
							<div class="col-xs-8">
								<div class="checkbox">
									<label>
										<input type="checkbox" class="checkbox"/>
										Edit existing projects &amp; documents
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-4">&nbsp;</label>
							<div class="col-xs-8">
								<div class="checkbox">
									<label>
										<input type="checkbox" class="checkbox"/>
										Read and sign
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
