
<isa-address-book-modal-header
	can-save="emailsForm.$valid && !emailsEmpty()"
	on-save="inviteUsers()"
	on-cancel="cancel()"
  save-title="Send Invitations"
	title="Invite Users">
</isa-address-book-modal-header>

<div class="modal-header clearfix bg-primary">
  Type email addresses to invite people onto your team.
</div>

<div class="modal-body">
	<form
		novalidate
		name="emailsForm"
		schema="Email"
		class="form-horizontal"
		schema-doc="invitationSet">
		<isa-loading-fieldset loading="loading">
			<schema-form ng-repeat="invitation in invitationSet.emails track by $index" model="invitation" fields="email"></schema-form>
		</isa-loading-fieldset>
	</form>
	<form
		novalidate
		name="inviteForm"
		schema="Invitations"
		class="form-horizontal"
		schema-doc="invitationSet">
		<isa-loading-fieldset loading="loading">
			<schema-form model="invitationSet" fields="welcomeMessage"></schema-form>
		</isa-loading-fieldset>
	</form>
	<isa-loading-fieldset loading="loading">
		<div class="text-center">
			<button ng-click="addInvitation()" type="button" class="btn btn-default">Add Invitation</button>
		</div>
	</isa-loading-fieldset>
</div>
