<div class="panel panel-default bootcards-wiki-panel">

	<isa-address-book-modal-header
		can-save="userForm.$valid"
		on-save="save()"
		on-cancel="cancel()"
		title="New User">
	</isa-address-book-modal-header>

	<div class="modal-body">
		<form
			novalidate
			name="userForm"
			schema="UserSignup"
			class="form-horizontal"
			schema-doc="object">
			<isa-loading-fieldset loading="loading">
				<schema-form model="object" fields="fullName,email,password"></schema-form>
				<div class="form-group has-error text-center">
					<small class="help-block" ng-show="err">{{ err.message }}</small>
				</div>
			</isa-loading-fieldset>
		</form>
	</div>

</div>
