<form ng-if="!readonly" class="form-horizontal" name="newPhoneNumberForm" novalidate>
    <isa-form-field
        class="col-sm-5"
        ng-model='newPhoneNumber.number'
        title="Number"
        input-placeholder='+44 7668 492301'
        input-name='newPhoneNumber'
        validation-model='{
            "phoneNumber": "Must be a valid phone number.",
            "required": "A number is required."
        }'>
    </isa-form-field>
    <isa-form-field
        class="col-sm-5"
        ng-model='newPhoneNumber.type'
        title="Type"
        input-placeholder='Mobile'
        input-name='newType'
        validation-model='{
            required: "A type is required"
        }'>
    </isa-form-field>
    <a class="btn btn-primary col-sm-1" ng-disabled="!newPhoneNumberForm.$valid" ng-click="addPhoneNumber()">
        <i class="fa fa-plus"></i>
    </a>
</form>

<div class="row" ng-repeat="phoneNumber in phoneNumbers.arr">
    <p class="h4 col-sm-12">
        <span class="label label-default">
            {{ phoneNumber.number }} : {{ phoneNumber.type }}
        </span>
        <a ng-if="!readonly" class="col-sm-1 pull-right" ng-click="removePhoneNumber(phoneNumber)">
            <i class="fa fa-times"></i>
        </a>
    </p>
</div>
