<div class="panel panel-default bootcards-wiki-panel">

	<isa-address-book-detail-header
		on-edit="editObject()"
		title="Contact Details">
	</isa-address-book-detail-header>

	<div class="list-group">

		<div class="list-group-item">
			<isa-profile-img user="object"></isa-profile-img>
			<h4 class="list-group-item-heading">Name</h4>
			<p class="list-group-item-text" isa-empty-attr value="object.name"></p>
		</div>

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Email</h4>
			<p class="list-group-item-text" isa-empty-attr value="object.email"></p>
		</div>

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Type</h4>
			<p class="list-group-item-text" isa-empty-attr value="object.type"></p>
		</div>

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Role</h4>
			<p class="list-group-item-text" isa-empty-attr value="object.role"></p>
		</div>

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Address</h4>
			<p class="list-group-item-text" isa-empty-attr value="object.address"></p>
		</div>

		<isa-phone-numbers contactable="object" readonly="true"></isa-phone-numbers>

	</div>
</div>
