<div class="panel panel-default bootcards-wiki-panel">

	<isa-address-book-detail-header
		on-edit="editObject()"
		title="User Details">
	</isa-address-book-detail-header>

	<div class="list-group">

		<div class="row">
			<div class="col-sm-6">
				<div class="list-group-item">
					<isa-profile-img user="object.profile"></isa-profile-img>
					<p class="list-group-item-text">Name</p>
					<h4 class="list-group-item-heading" isa-empty-attr value="object.profile.role"></h4>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="list-group-item">
					<p class="list-group-item-text">Team</p>
					<h4 class="list-group-item-heading" isa-empty-attr value="object.profile.role"></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="list-group-item">
					<p class="list-group-item-text">Title or Role</p>
					<h4 class="list-group-item-heading" isa-empty-attr value="object.profile.role"></h4>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="list-group-item">
					<p class="list-group-item-text">Organisation</p>
					<h4 class="list-group-item-heading" isa-empty-attr value="object.profile.role"></h4>
				</div>
			</div>
		</div>

		<div class="list-group-item">
			<p class="list-group-item-text">Email</p>
			<a href="mailto:"><p class="list-group-item-heading" isa-empty-attr value="object.emails[0].address"></p></a>
		</div>
		<div class="list-group-item">
			<p class="list-group-item-text">Password</p>
			<h4 class="list-group-item-heading">&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</h4>
		</div>

		<isa-phone-numbers contactable="object.profile" readonly="true"></isa-phone-numbers>

	</div>
</div>
