<div class="panel panel-default bootcards-wiki-panel">

	<isa-address-book-detail-header
		on-edit="editObject()"
		title="Organisation Details">
	</isa-address-book-detail-header>

	<div class="list-group">

		<div class="list-group-item">
			<p class="list-group-item-text">Name</p>
			<h4 class="list-group-item-heading" isa-empty-attr value="object.name"></h4>
		</div>

		<div class="list-group-item">
			<p class="list-group-item-text">Type</p>
			<h4 class="list-group-item-heading" isa-empty-attr value="object.type"></h4>
		</div>

		<div class="list-group-item">
			<p class="list-group-item-text">Postal Address</p>
			<h4 class="list-group-item-heading" isa-empty-attr value="object.address"></h4>
		</div>

	</div>
</div>
