<div class="panel panel-default bootcards-wiki-panel">

	<isa-address-book-detail-header
		on-edit="editObject()"
		title="User Details">
	</isa-address-book-detail-header>

	<div class="list-group">

		<div class="row">
			<div class="col-sm-6">
				<div class="list-group-item">
					<isa-profile-img user="object.profile" class="pull-left"></isa-profile-img>
					<p class="list-group-item-text">Name</p>
					<h4 class="list-group-item-heading" isa-empty-attr value="object.profile.fullName"></h4>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="list-group-item">
					<p class="list-group-item-text">Role in organization</p>
					<h4 class="list-group-item-heading" isa-empty-attr value="object.profile.role"></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="list-group-item">
					<p class="list-group-item-text">Job Title</p>
					<h4 class="list-group-item-heading" isa-empty-attr value="object.profile.title"></h4>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="list-group-item">
					<p class="list-group-item-text">Address</p>
					<h4 class="list-group-item-heading" isa-empty-attr value="object.profile.address"></h4>
				</div>
			</div>
		</div>

		<div class="list-group-item">
			<p class="list-group-item-text">Email</p>
			<a href="mailto:"><h4 class="list-group-item-heading" isa-empty-attr value="object.emails[0].address"></h4></a>
		</div>
		<div class="list-group-item">
			<p class="list-group-item-text">Password</p>
			<h4 class="list-group-item-heading">&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</h4>
		</div>

		<isa-phone-numbers contactable="object.profile" readonly="true"></isa-phone-numbers>

	</div>
</div>
