<div class="panel panel-default bootcards-wiki-panel">

	<isa-address-book-detail-header
		on-edit="editObject()"
		title="Contact Details">
	</isa-address-book-detail-header>

	<div class="list-group">

		<div class="list-group-item">
			<isa-profile-img user="object" grey="true" class="pull-left"></isa-profile-img>
			<p class="list-group-item-text">Name</p>
			<h4 class="list-group-item-heading" isa-empty-attr value="object.name"></h4>
		</div>

		<div class="list-group-item">
			<p class="list-group-item-text">Email</p>
			<h4 class="list-group-item-heading" isa-empty-attr value="object.email"></h4>
		</div>

		<div class="list-group-item">
			<p class="list-group-item-text">Type</p>
			<h4 class="list-group-item-heading" isa-empty-attr value="object.type"></h4>
		</div>

		<div class="list-group-item">
			<p class="list-group-item-text">Role</p>
			<h4 class="list-group-item-heading" isa-empty-attr value="object.role"></h4>
		</div>

		<div class="list-group-item">
			<p class="list-group-item-text">Address</p>
			<h4 class="list-group-item-heading" isa-empty-attr value="object.address"></h4>
		</div>

		<isa-phone-numbers contactable="object" readonly="true"></isa-phone-numbers>

	</div>
</div>
