
  <div class="col-sm-4 bootcards-list" style="padding-bottom: 10px">

    <div class="panel panel-default">

      <div class="panel-heading clearfix">
          <div class="btn-group pull-left">
            <a class="btn btn-default" ng-click="backToDocument()">
              <i class="fa fa-long-arrow-left"></i>
              Back to Document
            </a>
          </div>
      </div>

      <div class="panel-body">

        <div class="search-form">
          <div class="row">
              <div class="col-xs-12">
                <div class="form-group" style="padding-right: 15px">
                  <input type="text" class="form-control" 
                    ng-model="query" placeholder="Search..."
                    autofocus="true"
                     ng-keypress="doSearch($event)">
                    <button type="button" class="btn btn-link clear-field" 
                      ng-show="query.length>0"
                      ng-click="query=undefined" tabindex="-1"
                      style="display:block;">
                     <i class="fa fa-times-circle"></i>
                     </button>
                  <i class="fa fa-search"></i>
                </div>
              </div>  
          </div>

          <div class="row" ng-show="searchScope == 'local' && isEditor" style="margin-top:3px">

            <div class="col-xs-8">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="replace" placeholder="Replace {{query }} by...">
                <button type="button" class="btn btn-link clear-field" 
                 ng-show="replace.length>0"
                ng-click="replace=undefined" tabindex="-1"
                  style="display:block; right: -2px">
                 <i class="fa fa-times-circle"></i>
                 </button>
                <i class="fa fa-pencil"></i>
              </div>
            </div>

            <div class="col-xs-4">
              <a class="btn btn-primary btn-block" ng-show="query && replace" 
                ng-click="replaceText()" title="Find & replace">
                  <span>Replace</span>
              </a>
            </div>

          </div>
        </div>

      </div>

      <div class="list-group bootcards-accordion">

        <div class="list-group-item"
			style="padding-top:0; padding-bottom:0;">
		      <h5 class="text-muted">({{searchResults.length + ' page' + ( searchResults.length==1 ? '' : 's') + ' found'}})</h5>
    		</div>

        <div ng-show="searchScope=='local'">

          <a ng-repeat="page in searchResults" 
            class="list-group-item"
            ui-sref=".page({ pageId : page._id})"
            ui-sref-active="active">
               <h4 class="list-group-item-heading">{{page | pageTitleFilter}}</h4>
               <p class="list-group-item-text">{{getContentsSnippet(page.contents)}}</p>
          </a>

        </div>

        <div ng-repeat="subCat in tagsList" ng-show="searchScope!='local'">

          <a 
          class="list-group-item bootcards-list-subheading"
          ng-class="{'collapsed' : subCat.isCollapsed}"
          ng-click="toggleSubCategory(subCat);"
          ui-sref-active="active">

            <h4 class="list-group-item-heading">{{subCat.name}}</h4>
            
          </a>
        
          <div class="children" collapse="subCat.isCollapsed">

            <a ng-repeat="page in subCat.pages" 
              class="list-group-item"
              ui-sref=".page({ pageId : page._id})"
              ui-sref-active="active">
                 <h4 class="list-group-item-heading">{{page | pageTitleFilter}}</h4>
                 <p class="list-group-item-text">{{getContentsSnippet(page.contents)}}</p>
            </a>

          </div>

        </div>

      </div>

    </div>

    <div>

      <button class="btn btn-default" ng-click="toggleSearchScope()">
        {{'Search in ' + (searchScope=='local' ? 'all documents' : 'current document')}}
      </button>
    </div>

  </div>

  <div class="col-sm-8 bootcards-cards">

    <div ui-view></div>

  </div>
