/*docwiki styles*/

$docwiki-border-color: #dddddd;

.guidance-bar-hidden .isometrica-container-listdetail {
	top: 50px !important;
}

/* independent scrolling columns: fix for additional ui-view div in the DOM */
.desktop.bootcards-wiki .isometrica-container-listdetail > div.ng-scope,
.desktop.bootcards-wiki .isometrica-container-listdetail > div.ng-scope > .row,
.desktop.bootcards-wiki .isometrica-container-listdetail > div.ng-scope > .row > div {
      height: 100%; }
.desktop.bootcards-wiki .isometrica-container-listdetail > div.ng-scope > .row > div {
      overflow-x: hidden;
      overflow-y: auto;
      padding-top: 30px;
  }

.isometrica-wiki {

	.navbar-right, .navbar-left {
		z-index:11 !important;
	}

	.navbar-brand > a, .navbar-brand > i {
		color: #fff !important;
	}

	.queue-deleted {
		text-decoration : line-through;
	}

	.list-group {

		.children .list-group-item {
			padding-left: 25px;
			margin-left: 15px;
		}
		.children .list-group-item:hover,
		.children .list-group-item.active {
			padding-left: 40px;
			margin-left: 0;
		}

		.no-collapse:before {
			content : '' !important;
		}

	}

	.border-bottom {
		border-bottom: 1px solid $docwiki-border-color;
	}
	.border-top {
		border-top: 1px solid $docwiki-border-color;
	}

	/*textangular toolbar*/
	.ta-toolbar {
		margin: 7px -15px 5px -15px;
		text-align: center;
	
		.btn-group {
			float: none;
		}
		.btn {
			border:0;
		}
		border-bottom:1px solid #DDD;
		padding-bottom:5px;
	}
	
	.ta-editor,
	.ta-root.focussed > .ta-scroll-window.form-control,
	.ta-bind {
		border:0;
		box-shadow:none;
		outline: 0;
	}

	/* remove bottom padding on last p in the textarea*/
	.bootcards-wiki-panel-text-read > div > p:last-child {
		margin-bottom:0;
	}
	
	/* tags color */
	tags-input .tags .tag-item {
		background: #337ab7;
	}

	/* comments styling */
	.comments .panel-body {
		padding: 0;
	}
	.comments li.list-group-item {
		border: 0;
		border-top: 1px solid #eee;
		border-radius: 0;
		margin-left: 0;
		padding-left: 15px;
	}
	.comments li.list-group-item:first-child {
		border-top:0;
	}
	.comments li.list-group-item i.fa {
		width: inherit;
		margin: 0;
		opacity: 1;
	}

	/* signatures styling */
	.signatures ul {
		margin-bottom:0;
	}

	/* remove bottom padding on panels in a modal*/
	.modal-content .panel {
		margin-bottom:0;
	}

	/*centered text won't work if not for this */
	.text-center {
		text-align: center !important;
	}

	/*selector in isometrica.css is using 'collapse', but that class isn't set in ui-bootstrap collapsible panels*/
	.bootcards-wiki-panel-metadata .row {
		margin: 0;
	}
	.bootcards-wiki-panel-metadata .row > div {
		padding: 0;
	}

	/*page contents diff*/
	ins {
		background: #bfb;
		text-decoration:none;
	}
	del {
		background: #fbb;
	}

}