/*docwiki styles*/

$docwiki-border-color: #dddddd;

/*text color on buttons in the docwiki navbar*/
.desktop .navbar-inverse .navbar-nav > li > a.btn-info {
	color: #fff !important;
}

.isometrica-wiki {

	.navbar-right, .navbar-left {
		z-index:11 !important;
	}

	.navbar-brand > a, .navbar-brand > i {
		color: #fff !important;
	}

	.queue-deleted {
		text-decoration : line-through;
	}

	.list-group {

		.no-collapse:before {
			content : '' !important;
		}

	}

	.border-bottom {
		border-bottom: 1px solid $docwiki-border-color;
	}
	.border-top {
		border-top: 1px solid $docwiki-border-color;
	}

	/*textangular toolbar*/
	.ta-toolbar {
		margin: 7px -15px 5px -15px;
		text-align: center;
	
		.btn-group {
			float: none;
		}
		.btn {
			border:0;
		}
		border-bottom:1px solid #DDD;
		padding-bottom:5px;
	}
	
	.ta-editor,
	.ta-root.focussed > .ta-scroll-window.form-control,
	.ta-bind {
		border:0;
		box-shadow:none;
		outline: 0;
	}

	/* fit the images */
	.ta-editor img,
	.bootcards-wiki-panel-text-read img  {
		max-width: 100%;
		height: auto;
	}

	/* remove bottom padding on last p in the textarea*/
	.bootcards-wiki-panel-text-read > div > p:last-child {
		margin-bottom:0;
	}

	.bootcards-wiki-panel-files label {
		margin-top: 0;
	}
	
	/* tags color */
	tags-input .tags .tag-item {
		background: #337ab7;
	}

	/* comments styling */
	.comments .panel-body {
		padding: 0;
	}
	.comments li.list-group-item {
		border: 0;
		border-top: 1px solid #eee;
		border-radius: 0;
		margin-left: 0;
		padding-left: 15px;
	}
	.comments li.list-group-item:first-child {
		border-top:0;
	}
	.comments li.list-group-item i.fa {
		width: inherit;
		margin: 0;
		opacity: 1;
	}

	/* signatures styling */
	.signatures ul {
		margin-bottom:0;
	}

	/* remove bottom padding on panels in a modal*/
	.modal-content .panel {
		margin-bottom:0;
	}

	/*centered text won't work if not for this */
	.text-center {
		text-align: center !important;
	}

	/*selector in isometrica.css is using 'collapse', but that class isn't set in ui-bootstrap collapsible panels*/
	.bootcards-wiki-panel-metadata .row {
		margin: 0;
	}
	.bootcards-wiki-panel-metadata .row > div {
		padding: 0;
	}

	/* remove left margin from sub-pages when the accordion is collapsing*/
	.bootcards-list .bootcards-accordion .collapse .list-group-item .list-group-item-heading, 
	.bootcards-list .bootcards-accordion .collapsing .list-group-item .list-group-item-heading {
		margin-left: 0;
	}

	/* icon in the 'replace' input field (list element) */
	.bootcards-list .search-form .form-group > i.fa-pencil {
		position: absolute;
	    left: 12px;
	    top: 10px;
	    color: #999;
	    font-size: 14px;
	}

	/* to show a conditional chevron (only if there's content) in list group items*/
	.children .list-group-item:before {
		content: none !important;

	}
	.children .has-content:not(.active) {
	  background-color: transparent !important;
	}
	.children .has-content:after {
	  font-family: FontAwesome;
	  content: '';
	  position: absolute;
	  right: 15px;
	  top: 50%;
	  font-size: 14px;
	  line-height: 14px;
	  margin-top: -7px;
	  color: #ccc;
	}
	.children .has-content.active:after {
	  color: #e1edf7;
	}

	/*page contents diff*/
	ins {
		background: #bfb;
		text-decoration:none;
	}
	del {
		background: #fbb;
	}

}

