/*docwiki styles*/

$docwiki-border-color: #dddddd;

.guidance-bar-hidden .isometrica-container-listdetail {
	padding-top: 30px !important;
}

.isometrica-wiki {

	.navbar-right, .navbar-left {
		z-index:11 !important;
	}

	.navbar-brand > a, .navbar-brand > i {
		color: #fff !important;
	}

	.queue-deleted {
		text-decoration : line-through;
	}

	.list-group {

		.children .list-group-item {
			padding-left: 25px;
			margin-left: 15px;
		}
		.children .list-group-item:hover,
		.children .list-group-item.active {
			padding-left: 40px;
			margin-left: 0;
		}

		.no-collapse:before {
			content : '' !important;
		}

	}

	.border-bottom {
		border-bottom: 1px solid $docwiki-border-color;
	}
	.border-top {
		border-top: 1px solid $docwiki-border-color;
	}

	/*textangular toolbar*/
	.ta-toolbar {
		margin-bottom:10px;
	}

	/* remove bottom padding on last p in the textarea*/
	.bootcards-wiki-panel-text-read > div > p:last-child {
		margin-bottom:0;
	}

	/* style the list of files on a page*/
	table.files-list {

		/*remove the default bottom margin on bs tables*/
		margin-bottom: 0;

		/*remove border on first line in the files list*/
		tbody > tr:first-child > td {
			border-top:0;
			padding-top:0;
		}

		tbody > tr > td {
			padding-left: 0;
			padding-right: 0;
		}

	}
	
	/* styled 'browse' button*/
	.btn-file {
	    position: relative;
	    overflow: hidden;
	}

	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;
	} 

	/* tags color */
	tags-input .tags .tag-item {
		background: #337ab7;
	}

	/* comments styling */
	.comments .panel-body {
		padding: 0;
	}
	.comments li.list-group-item {
		border: 0;
		border-top: 1px solid #eee;
		border-radius: 0;
		margin-left: 0;
		padding-left: 15px;
	}
	.comments li.list-group-item:first-child {
		border-top:0;
	}
	.comments li.list-group-item i.fa {
		width: inherit;
		margin: 0;
		opacity: 1;
	}

	/* signatures styling */
	.signatures ul {
		margin-bottom:0;
	}

	/* remove bottom padding on panels in a modal*/
	.modal-content .panel {
		margin-bottom:0;
	}

	/*centered text won't work if not for this */
	.text-center {
		text-align: center !important;
	}

	/*selector in isometrica.css is using 'collapse', but that class isn't set in ui-bootstrap collapsible panels*/
	.bootcards-wiki-panel-metadata .row {
		margin: 0;
	}
	.bootcards-wiki-panel-metadata .row > div {
		padding: 0;
	}

	/*page contents diff*/
	ins {
		background: #bfb;
		text-decoration:none;
	}
	del {
		background: #fbb;
	}

}