
<div class="container-fluid bootcards-container isometrica-container-listdetail" id="main">

  <isa-select-header
    selected-opt="selectState"
		header-title="'Program calendar - ' + selectState"
		filter-opts="[ 'Month', 'Quarter', 'Year' ]">
	</isa-select-header>
	<isa-guidance-bar>
		<h4>
			Guidance goes here lorem ipsum
		</h4>
	</isa-guidance-bar>

	<div class="row">
		<div class="col-sm-12 bootcards-cards hidden-xs">
			<div class="panel panel-default">
				<table class="table isometrica-calendar isometrica-calendar-year">
  				<thead>
    				<tr>
      				<th>
                <div class="search-form">
        					<div class="row">
    						    <div class="col-xs-8">
        				      <div class="form-group">
        					      <input type="text" class="form-control" placeholder="Search...">
        					      <i class="fa fa-search"></i>
        				      </div>
    						    </div>
    						    <div class="col-xs-4">
      								<button class="btn btn-primary btn-block" data-toggle="modal" data-target="#edit-modal">
      									<i class="fa fa-plus"></i>
      									<span>Add</span>
      								</button>
    						    </div>
      						</div>
      					</div>
      				</th>
      				<th colspan="12">
		    				<button type="button" class="btn btn-default pull-left">
        				  <i class="fa fa-chevron-left no-margin"></i>
        				</button>
        				<button type="button" class="btn btn-default pull-right">
        				  <i class="fa fa-chevron-right no-margin"></i>
        				</button>
        				<h4 class="panel-title text-center">2016</h4>
      				</th>
    				</tr>
    				<tr class="isometrica-calendar-headings">
      				<th></th>
      				<th>Jan</th>
      				<th>Feb</th>
      				<th>Mar</th>
      				<th>Apr</th>
      				<th>May</th>
      				<th>Jun</th>
      				<th>Jul</th>
      				<th>Aug</th>
      				<th>Sep</th>
      				<th>Oct</th>
      				<th>Nov</th>
      				<th>Dec</th>
    				</tr>
  				</thead>

  				<thead ng-repeat-start="section in sections">
    				<tr>
      				<th class="calendar-accordion-toggle" data-toggle="collapse" data-target="#quality">
        				<i class="fa fa-chevron-circle-down bootcards-panel-collapsing-indicator"></i>
        				{{ section.title }}
        		  </th>
        		  <th colspan="12"></th>
    				</tr>
  				</thead>
   				<tbody class="collapse in" id="quality" ng-repeat-end>
    				<tr ng-repeat="subsection in section.subsections">
      				<th>{{ subsection.title }}</th>
              <td
                ng-repeat="event in subsection.collection"
                ng-class="{'btn btn-info btn-date-range': event.type === 'date_range'}"
                colspan="{{ duration(event) }}">
                {{ event.topic }}
                <small class="date">{{ event.startAt }}</small>
              </td>
    				</tr>
  				</tbody>

				</table>
			</div>
		</div>
	</div>

</div>
